swagger: '2.0'
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
host: api-homologacao.getnet.com.br
info:
  title: Referência da API | Plataforma Digital
  version: 1.0.0
  description: |
    (doc 1.0.42 | 13/6/2019)
    # Introdução
    Bem-vindo à Getnet!

    Este é o manual para que você possa integrar sua empresa à Plataforma de Digital da Getnet e começar a usufruir das melhores soluções do mercado.

    Para atendê-lo da melhor maneira, a Getnet oferece diferentes soluções seguras para captura de transações de E-Commerce. Estes serviços permitem aos estabelecimentos credenciados aceitar cartões de crédito, cartões de débito e boletos bancários como forma de pagamento em suas lojas virtuais através da implementação de processos simples.

    Além dos serviços de pagamento, a Getnet oferece serviços de cofre, recorrência, antifraude, conciliador e outras facilidades para atender seu negócio com rapidez e segurança.

    Sugerimos que este documento seja lido com atenção, e usado como guia de referência para quaisquer dúvidas não somente no momento da implementação da integração de sua plataforma de comércio eletrônico com a Rede de Adquirência da Getnet, mas para quaisquer mudanças nos sistemas.

    O conteúdo deste Manual de Integração se destina a programadores e desenvolvedores de plataformas para comércio eletrônico que desejam realizar a captura e o processamento de suas transações diretamente com a Rede Adquirente da Getnet.

    Neste documento o desenvolvedor/analista terá acesso a todos os passos e processos referentes à integração com o sistema de captura e autorização de transações financeiras da Getnet via as funcionalidades da API.

    Sugerimos também que, periodicamente e sempre que for iniciar um desenvolvimento relacionado à captura de transações, utilize este portal para acompanhamento de mudanças e versionamento dos produtos de nossa plataforma.

    # Soluções

    Para atender a todas as demandas de nossos clientes, criamos uma Plataforma de E-Commerce que conta com um conjunto de soluções diversificadas para cada necessidade. Essas soluções estão agrupadas em 2 modelos, de acordo com a forma de captura das transações. São eles:

    * E-Commerce WEB via Checkout Iframe

    * E-Commerce WEB via API

    Este manual cobre o modelo de E-Commerce WEB via API, que realiza a conexão com a Getnet utilizando protocolo HTTPS tendo sua chamada através de WebServices em REST.
    # Requisitos de Infraestrutura
    ### Protocolo TLS
    Prezado Cliente, conforme comunicações realizadas previamente por email, gostaríamos de reforçar que:
    De acordo com os requisitos da normativa do PCI DSS 3.2 que regulamentam os ambientes transacionais, desde de o dia 30/06/2018 às 22h00 nossos serviços de e-commerce somente trabalham no protocolo de criptografia TLS 1.1 e superiores. A versão antiga do TLS 1.0 e anteriores foram desativadas permanentemente.

    Para evitar qualquer impacto em sua plataforma, é importante que você confira se seus sistemas estão aptos a trabalhar no protocolo TLS 1.1 e superiores, que são mais seguros e aceitos pelo PCI. Você não pode mais efetuar transações no protocolo TLS 1.0.

    Maiores informações podem ser encontradas diretamente no site do PCI.

    <a href="https://www.pcisecuritystandards.org/documents/Migrating_from_SSL_Early_TLS_Information%20Supplement_v1.pdf">Migrating From SSL Early TLS InformationSupplement v1.pdf</a>

    # Como começar
    A Plataforma Digital é um ecossistema completo criado para fornecer as mais diversas soluções para o mercado de pagamentos (eCommerce, mCommerce).

    Temos disponíveis as seguintes funcionalidades transacionais: Crédito à Vista, Crédito Parcelado Lojista, Crédito com Pré-autorização, Crédito com Confirmação Tardia, Crédito Autenticado, Débito Autenticado, Verificação de Cartão e Boleto Registrado.

    Mais informações: https://developers.getnet.com.br/api#section/Funcionalidades

    Além dos seguintes módulos para enriquecer a experiência de pagamentos de sua loja e de seus clientes:

    ### Checkout digital seguro

    O checkout é a forma mais simples de realizar a integração com a Getnet. Com ele você não precisa se preocupar com segurança no envio dos dados. Basta realizar a implementação da nossa solução via API ou iFrame que nós cuidaremos de todo o resto.

    ### Pagamento via boleto

    Mais uma comodidade para negócios que possuem convênio com Santander. Através dele seu negócio terá mais oportunidades de vendas. Os boletos são gerados já com registro XML, adequados ao modelo FEBRABAN.

    ### Antifraude

    Tenha mais segurança nas transações através da análise de comportamento de compra do consumidor. Em casos de atitudes suspeitas a transação é bloqueada automaticamente, evitando risco para seu negócio e dando mais segurança aos clientes do seu e-commerce.

    ### Cofre

    Ofereça aos seus clientes a possibilidade de guardar as informações dos cartões utilizados para uso futuro, melhorando a experiência de consumo em uma compra futura. Tudo isso de maneira segura, através da certificação PCI.

    ### Conciliador Financeiro

    Tenha acesso a uma visão única e integrada do seu fluxo de caixa e aumente a eficiência das análises financeiras, consultas a transações e taxas.

    ### Recorrência

    Se seu e-commerce trabalha com mensalidades ou cobranças recorrentes, com a solução Getnet é possível realizar a gestão das cobranças que possuem periodicidade sem precisar reinserir os dados do cartão.

    ### Consultoria Getnet

    Conte com um time especializado em negócios digitais, prontos para oferecer uma consultoria completa em meios de pagamento. Desde a identificação das necessidades do seu negócio até a customização de soluções e acompanhamento do pós-implantação.

    ## Criando a sua conta no Sandbox

    O Sandbox da Plataforma Digital é a maneira mais ágil para você, desenvolvedor, experimentar nossos serviços de ecommerce.

    Crie uma conta através do link a seguir, precisando somente de email e senha: https://developers.getnet.com.br/login
    ##  Obtenção de chaves de autenticação
    Suas chaves de autenticação para o ambiente do Sandbox são disponibilizadas na aba de configurações em Identificação da API.

    ## Funcionalidades no Sandbox

    O path de utilização do ambiente do sandbox via api é: api-sandbox.getnet.com.br

    Atualmente, estão disponíveis no Sandbox os seguintes serviços da API:
    * Autenticação Oauth
    * Tokenização de cartão
    * Pagamento com cartão de crédito
    * Pagamento com cartão de débito
    * Pagamento com boleto
    * Cancelamento de pagamento com cartão

    Também estão disponíveis no Sandbox os seguintes simuladores:
    * Tokenização de cartão
    * Pagamento com cartão de crédito
    * Pagamento com cartão de débito
    * Pagamento com boleto

    Você pode acessar nosso simulador intuitivo através da aba Simuladores do ambiente Sandbox.

    Você também pode conferir o histórico de utilização do ambiente de Sandbox na aba Logs.

    ## Não sou desenvolvedor

    Caso você tenha caído nesta seção e não seja um desenvolvedor, não entre em pânico! O eCommerce da Getnet ainda é o produto certo para você!!!
    ### Não possui loja virtual?
    Nossa orientação é a Loja Digital Getnet! Você monta sua loja virtual de forma simples e segura, garantindo também, a sua presença no mundo online.  Entenda e solicite aqui&#58; https://site.getnet.com.br/loja-digital/
    ### Já possui loja virtual?
    Nossa orientação é procurar nosso parceiro de plataforma de ecommerce, VTEX (http://www.vtex.com/).

    O qual tem um leque de soluções para vendas online já desenvolvidas e prontas para contratação. Incluindo a integração com o ecommerce Getnet!

    As seguintes funcionalidades estão disponíveis no plugin VTEX:

    <br> <table class="table table-bordered">
      <tr>
        <th>Funcionalidade</th>
        <th>VTEX</th>
      </tr>
      <tr>
        <th>Crédito à Vista</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i> (Somente no formato de Captura Tardia)</td>
      </tr>
      <tr>
        <th>Crédito Parcelado Lojista (sem Juros)</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Crédito Parcelado Emissor (com Juros)</th>
        <td></td>
      </tr>
      <tr>
        <th>Crédito Autenticado</th>
        <td></td>
      </tr>
      <tr>
        <th>Débito Autenticado</th>
        <td></td>
      </tr>
      <tr>
        <th>Pré-autorização</th>
        <td></td>
      </tr>
      <tr>
        <th>Verificação de Cartão</th>
        <td></td>
      </tr>
      <tr>
        <th>MCC Dinâmico</th>
        <td></td>
      </tr>
      <tr>
        <th>Soft Descriptor</th>
        <td></td>
      </tr>
      <tr>
        <th>Recorrência</th>
        <td></td>
      </tr>
    </table> <br>

    ## Processo de Homologação

    Para iniciar a homologação de sua integração com a Plataforma Digital da Getnet, utilizando nosso ambiente de testes você precisa ser credenciado na Getnet.

    Caso já seja cliente nosso, procure seu contato comercial com a Getnet para que ele solicite a habilitação do produto Plataforma Digital para você.

    Caso você não seja cliente, procure seu gerente de conta Santander e solicite mais informações sobre o Ecommerce Getnet.

    Os cartões de teste aceitos neste ambiente são encontrados nesta documentação no tópico Cartões de Teste (https://developers.getnet.com.br/api#section/Cartoes-para-Teste)

    ## Necessita ajuda

    Quaisquer dúvidas técnicas, fique à vontade para contatar nosso time pela caixa suporte.edigital@getnet.com.br.

    # Funcionalidades

    * Pagamentos: Crédito à Vista, Crédito Parcelado Lojista, Crédito com Pré-autorização, Crédito com Confirmação Tardia, Crédito Autenticado, Débito Autenticado, Verificação de Cartão e Boleto Registrado.

    * Produtos: Antifraude, Cofre, Recorrência e Conciliação de Transações.

    ## Funcionalidades por Bandeira

    <table>
      <tr>
        <th>Funcionalidade</th>
        <th>Mastercard</th>
        <th>Visa</th>
        <th>Amex</th>
        <th>Elo</th>
        <th>Hipercard</th>
      </tr>
      <tr>
        <th>Crédito à Vista</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Crédito Parcelado Lojista (sem Juros)</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Crédito Parcelado Emissor (com Juros)</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Crédito Autenticado</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Débito Autenticado</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Pré-autorização</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Verificação de Cartão</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td></td>
        <td></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>MCC Dinâmico</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Soft Descriptor</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <th>Recorrência</th>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td><i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    # Cartões para Teste

    Para fim de teste podem ser utilizados os seguintes cartões:

    <table>
      <tr>
        <th>Cartão</th>
        <th>Tipo de Teste</th>
        <th>Resultado do Teste</th>
      </tr>
      <tr>
        <td><i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i> 5155901222280001</td>
        <td>Transação Autorizada</td>
        <td><i class="fa fa-check-circle-o fa-1x" aria-hidden="true"></i> Transação Aprovada</td>
      </tr>
      <tr>
        <td><i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i> 5155901222270002</td>
        <td>Transação Não Autorizada</td>
        <td><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Cartão Inválido</td>
      </tr>
      <tr>
        <td><i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i> 5155901222260003</td>
        <td>Transação Não Autorizada</td>
        <td><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Cartão Vencido</td>
      </tr>
      <tr>
        <td><i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i> 5155901222250004</td>
        <td>Transação Não Autorizada</td>
        <td><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Estabelecimento Inválido</td>
      </tr>
      <tr>
        <td><i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i> 5155901222240005</td>
        <td>Transação Não Autorizada</td>
        <td><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Saldo Insuficiente</td>
      </tr>
      <tr>
        <td><i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i> 5155901222230006</td>
        <td>Transação Não Autorizada</td>
        <td><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Autorização Recusada</td>
      </tr>
      <tr>
        <td><i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i> 5155901222220007</td>
        <td>Transação Não Autorizada</td>
        <td><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Transacao Não Processada</td>
      </tr>
      <tr>
        <td><i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i> 5155901222210008</td>
        <td>Transação Não Autorizada</td>
        <td><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Excede o Limite de Retiradas</td>
      </tr>
      <tr>
        <td><i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i> 4012001037141112</td>
        <td>Transação Autorizada</td>
        <td><i class="fa fa-check-circle-o fa-1x" aria-hidden="true"></i> Transação Aprovada</td>
      </tr>
    </table>


    Observação: Ao utilizar os cartões de teste, é necessário ter atenção em alguns pontos:

    * Utilize uma data de vencimento válida, ou seja, posterior à data atual.

    * O nome do portador não deve ter caracteres especiais, como acento e Ç.

    * O valor do CVV pode ser qualquer valor numérico com três dígitos.

    * Para <b>operações de tipo Débito</b>, deve-se utilizar somente o cartão Visa: 4012001037141112.

    ### Como usar cartões de teste em compras com parcelamento
    Para testar compras com parcelamento em nosso ambiente de teste, você pode utilizar um dos cartões de teste Mastercard ou Visa disponibilizados. Porém, se optar por um cartão Mastercard, é necessário enviar valores específicos na transação, de acordo com a tabela abaixo:

    <table>
      <caption>Parcelado Lojista Mastercard <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i></caption>
      <tr>
        <th>transaction_type</th>
        <th>number_installments</th>
        <th>amount</th>
      </tr>
      <tr>
        <td>INSTALL_NO_INTEREST</td>
        <td>3</td>
        <td>nnn0303</td>
      </tr>
      <tr>
        <td>INSTALL_NO_INTEREST</td>
        <td>4</td>
        <td>nnn0404</td>
      </tr>
      <tr>
        <td>INSTALL_NO_INTEREST</td>
        <td>5</td>
        <td>nnn0505</td>
      </tr>
      <tr>
        <td>INSTALL_NO_INTEREST</td>
        <td>6</td>
        <td>nnn0606</td>
      </tr>
      <tr>
        <td>INSTALL_WITH_INTEREST</td>
        <td>3</td>
        <td>nnn0303</td>
      </tr>
      <tr>
        <td>INSTALL_WITH_INTEREST</td>
        <td>4</td>
        <td>nnn0404</td>
      </tr>
      <tr>
        <td>INSTALL_WITH_INTEREST</td>
        <td>5</td>
        <td>nnn0505</td>
      </tr>
      <tr>
        <td>INSTALL_WITH_INTEREST</td>
        <td>6</td>
        <td>nnn0606</td>
      </tr>

    </table>
    <br>
    <table>
      <caption>Parcelado Lojista Visa <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i></caption>
      <tr>
        <th>transaction_type</th>
        <th>number_installments</th>
        <th>amount</th>
      </tr>
      <tr>
        <td>INSTALL_NO_INTEREST</td>
        <td>3</td>
        <td>nnn0303</td>
      </tr>
      <tr>
        <td>INSTALL_NO_INTEREST</td>
        <td>4</td>
        <td>nnn0404</td>
      </tr>
      <tr>
        <td>INSTALL_NO_INTEREST</td>
        <td>5</td>
        <td>nnn0505</td>
      </tr>
      <tr>
        <td>INSTALL_NO_INTEREST</td>
        <td>6</td>
        <td>nnn0606</td>
      </tr>
      <tr>
        <td>INSTALL_WITH_INTEREST</td>
        <td>2</td>
        <td>20221</td>
      </tr>
      <tr>
        <td>INSTALL_WITH_INTEREST</td>
        <td>3</td>
        <td>30221</td>
      </tr>
      <tr>
        <td>INSTALL_WITH_INTEREST</td>
        <td>4</td>
        <td>40221</td>
      </tr>
      <tr>
        <td>INSTALL_WITH_INTEREST</td>
        <td>5</td>
        <td>50221</td>
      </tr>
    </table>

    Sendo nnn qualquer valor. Essas regras são exclusivas para a bandeira Mastercard em nosso ambiente de teste e não se aplicam ao ambiente produtivo.

    # Antifraude

    O Antifraude lhe dá melhor visão do comportamento do seu cliente durante a compra, passando segurança ao comprador e a loja virtual em que a operação está acontecendo.

    O Antifraude tem um papel importantíssimo para avaliar se as transações que passam pela loja virtual são seguras, além de entregar uma maior rentabilidade para o seu negócio através dos seguintes fatores: melhores vendas, melhor experiência de compra e mínimo de perdas.

    Temos um grande diferencial que é a impressão digital de dispositivos (Device Fingerprint), monitoramento de velocidade, mudança de identidade dos dados, score antifraude específico para o segmento do seu negócio, modelos retroalimentados para evolução contínua, inteligência artificial, controle de qualidade e detecção de ataques.

    Todas as transações são imediatamente submetidas à análise de fraude por uma infraestrutura robusta que está preparada para grandes volumes de transações e com altíssimo nível de segurança.

    Detecte fraudes com facilidade em ambientes online ou no aplicativo e onde quer que seus negócios sejam oferecidos. Você pode melhorar a experiência de compra, fidelizar seu cliente e aumentar a taxa de conversão com facilidade.

    ###  Integrando ao E-Commerce

    A integração do FingerPrinting resume-se a duas etapas :

    #### __1. Incluir a chamada__

    ```javascript
      <!-- HEAD -->
      <head>
      <script type="text/javascript" src="https://h.online-metrix.net/fp/tags.js?org_id=1snn5n9w&session_id=123456789"></script>
      </head>
    ```
    ou
    ```javascript
      <!-- BODY -->
        <body>
        <noscript>
        <iframe style="width: 100px; height: 100px; border: 0; position:absolute; top: -5000px;" src="https://h.online-metrix.net/fp/tags?org_id=1snn5n9w &session_id=123456789"></iframe>
        </noscript>
        </body>
    ```
    Essas chamadas devem ser todas incluídas para darem suporte à diversos tipos de dispositivos que venham a utilizar o E-Commerce.
    A execução dessa chamada é responsável por gerar o <b>deviceFingerprintID</b> na CyberSource.

    #### __2. Variáveis <i>"org_id" e "session_id"</i>__

    Essas duas variáveis devem ser passadas de forma obrigatória para ser gerado o <b>FingerPrint</b>.

    Onde:

    <b>1snn5n9w</b> é o org_id. Este código do org_id é utilizado somente em ambiente de teste da CyberSource. Para o ambiente de produção o org_id utilizado é o <b>k8vif92e</b>.

    <b>123456789</b> é o exemplo da session_id. A session_id deve ser composto por um identificador único (por um período de 48 horas) com até 80 caracteres. Como exemplo, pode-se utilizar o identificador do pedido ou tracknumber de seu E-Commerce.

    Para o carregamento do script, recomenda-se colocar as <b> chamadas do item 1</b> entre a tag \<body> ou \<head>.

    Inclua apenas elementos HTML visíveis. Os segmentos de código devem ser carregados antes do cliente efetuar o checkout. Os códigos que você precisa colocar na sua página podem ser <b>http ou https</b>.

    #### __3. Enviando <i>deviceFingerprintID no checkOut</i>__

    No momento de checkOut, uma informação de campo da API (deviceFingerPrintId) deve ser incluída no Pedido para ser enviado para o CYBS (Gerenciador de Decisão da CyberSource).

    Com isso um elemento de página deve ser populado com o identificador exclusivo e único para ser enviado.  O <b>deviceFingerprintID</b> é o session_id reprsentado por <b>123456789</b> no exemplo acima.

    ```javascript
      <input type="hidden" name="deviceFingerprintID" value="123456789" />;
    ```
    #### __4. Especificação do <i>"session_id"</i>__

    * Tipo : String
    * Tamanho : Até 80 bytes
    * Dado : Caracteres permitidos [a-z], [A-Z], 0-9, _, -

    Recomendamos um hash com no mínimo 12 e no máximo 30 caracteres alfanuméricos (suficiente para que não haja repetição).

    ###  Dados para análise de Antifraude

    #### Campos para análise

    Para melhor assertividade na análise do Antifraude, além dos dados comuns da compra que devem ser enviados, é <b>mandatório</b> o preenchimento e envio das seguintes informações:

    #### Dados do Dono do Cartão

    <table>
      <tr>
        <th>Campo</th>
        <th>Descrição</th>
        <th>Exemplo</th>
      </tr>
      <tr>
        <td>first_name</td>
        <td>Primeiro nome do comprador.</td>
        <td>Luciano</td>
      </tr>
      <tr>
        <td>last_name</td>
        <td>Último nome do comprador.</td>
        <td>Santos</td>
      </tr>
      <tr>
        <td>document_number</td>
        <td>Número do documento do comprador sem pontuação. (sem máscara)</td>
        <td>01234567890</td>
      </tr>
      <tr>
        <td>email</td>
        <td>Email do comprador.</td>
        <td>email.do.portador@dominio.com.br</td>
      </tr>
    </table>

    #### Dados do Endereço de Cobrança do Dono do Cartão

    <table>
      <tr>
        <th>Campo</th>
        <th>Descrição</th>
        <th>Exemplo</th>
      </tr>
      <tr>
        <td>street</td>
        <td>Logradouro.</td>
        <td>Av. Paulista</td>
      </tr>
      <tr>
        <td>number</td>
        <td>Número do logradouro.</td>
        <td>Santos</td>
      </tr>
      <tr>
        <td>complement</td>
        <td>Complemento do logradouro.</td>
        <td>01234567890</td>
      </tr>
      <tr>
        <td>city</td>
        <td>Cidade.</td>
        <td>São Paulo</td>
      </tr>
      <tr>
        <td>state</td>
        <td>Estado (UF).</td>
        <td>São Paulo</td>
      </tr>
      <tr>
        <td>country</td>
        <td>País.</td>
        <td>Brasil</td>
      </tr>
      <tr>
        <td>postal_code</td>
        <td>Código Postal, CEP no Brasil ou ZIP nos Estados Unidos. (sem máscara)</td>
        <td>01311300</td>
      </tr>
    </table>

    #### Dados da compra

    <table>
      <tr>
        <th>Campo</th>
        <th>Descrição</th>
        <th>Exemplo</th>
      </tr>
      <tr>
        <td>amount</td>
        <td>Valor da compra em centavos.</td>
        <td>100</td>
      </tr>
    </table>

    # API

    ## Introdução

    O objetivo deste documento é descrever a interface das APIs de integração da Plataforma Digital da Getnet com o E-commerce.
tags:
  - name: Autenticação
    x-displayName: Autenticação
    description: |
      As API’s listadas nessa documentação utilizam autenticação OAuth2, isso significa que em todas as requisições é necessário informar um token de acesso que será obtido através da autenticação com o seu Client ID e Client Secret.
  - name: Tokenização
    x-displayName: Tokenização
    description: |
      Para efetuar transações de forma segura o número do cartão deve ser tokenizado previamente em todas as requisições antes de ser trafegado em conjunto com os demais dados, como nome do portador, data de validade e cvv.
  - name: Cofre
    x-displayName: Cofre
    description: |
      Para efetuar operações relacionadas a armazenamento de cartões no cofre utilize os endpoints descritos abaixo mediante autenticação.
  - name: Pagamento
    x-displayName: Pagamento
    description: |
      Para efetuar transações relacionadas a pagamento utilize os endpoints descritos abaixo mediante autenticação.
  - name: Cancelamento
    x-displayName: Cancelamento
    description: |
      Para possibilitar a solicitação de cancelamento de pagamentos com cartões de crédito utilize os endpoints abaixo mediante autenticação.
  - name: Recorrência
    x-displayName: Recorrência
    description: |
      A criação de um pagamento recorrente da Getnet se dá em três pilares: o cadastro de um cliente que será cobrado, a definição de um plano com valor e periodicidade pré-definida e para concluir, a criação de uma assinatura que vincula ambos. Veja abaixo os endpoints responsáveis para gestão destes três pilares:
  - name: Clientes
    x-displayName: Clientes
    description: |
      Para possibilitar o cadastro dos clientes para pagamento recorrente em nosso banco de dados utilize os endpoints abaixo mediante autenticação.
  - name: Planos
    x-displayName: Planos
    description: |
      Para possibilitar o cadastro planos de assinaturas para pagamento recorrente em nosso banco de dados utilize os endpoints abaixo mediante autenticação.
  - name: Assinaturas
    x-displayName: Assinaturas
    description: |
      Para possibilitar o cadastro de assinaturas,as quais são vínculos entre um cliente e um plano para viabilizar pagamento recorrente utilize os endpoints abaixo mediante autenticação.
  - name: Tabela de Erros
    x-displayName: Tabela de Erros
    description: |-
      Para auxiliar no entendimento dos retornos da API utilize as tabelas abaixo&#58;</br></br></br>
      ### Crédito/Débito - 400 Bad Request
      <table>
        <tr>
          <th>error_code</th>
          <th>description</th>
        </tr>
        <tr>
          <td>PAYMENTS-012</td>
          <td>Valor da entrada maior ou igual ao valor da transação</td>
        </tr>
        <tr>
          <td>PAYMENTS-013</td>
          <td>Valor da parcela inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-015</td>
          <td>Contatar emissor</td>
        </tr>
        <tr>
          <td>PAYMENTS-016</td>
          <td>NSU inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-019</td>
          <td>Data de emissão do cartão inválida</td>
        </tr>
        <tr>
          <td>PAYMENTS-020</td>
          <td>Data de vencimento inválida</td>
        </tr>
        <tr>
          <td>PAYMENTS-024</td>
          <td>Transação desfeita</td>
        </tr>
        <tr>
          <td>PAYMENTS-025</td>
          <td>Autenticação inválida</td>
        </tr>
        <tr>
          <td>PAYMENTS-026</td>
          <td>Autorização inválida</td>
        </tr>
        <tr>
          <td>PAYMENTS-029</td>
          <td>Pré-autorização inválida</td>
        </tr>
        <tr>
          <td>PAYMENTS-044</td>
          <td>Erro de formato</td>
        </tr>
        <tr>
          <td>PAYMENTS-050</td>
          <td>Entrar em contato com a instituição</td>
        </tr>
        <tr>
          <td>PAYMENTS-051</td>
          <td>Resposta parametrizada negativa</td>
        </tr>
        <tr>
          <td>PAYMENTS-054</td>
          <td>Pendente de confirmação</td>
        </tr>
        <tr>
          <td>PAYMENTS-055</td>
          <td>Transação cancelada</td>
        </tr>
        <tr>
          <td>PAYMENTS-056</td>
          <td>Transação não permitida neste ciclo</td>
        </tr>
        <tr>
          <td>PAYMENTS-058</td>
          <td>Transação estornada</td>
        </tr>
        <tr>
          <td>PAYMENTS-060</td>
          <td>Cartão obrigatório na transação</td>
        </tr>
        <tr>
          <td>PAYMENTS-061</td>
          <td>Rejeição genérica</td>
        </tr>
        <tr>
          <td>PAYMENTS-066</td>
          <td>Forma de pagamento inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-068</td>
          <td>Dígito cartão inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-069</td>
          <td>Transação repetida</td>
        </tr>
        <tr>
          <td>PAYMENTS-070</td>
          <td>Número do cartão não confere</td>
        </tr>
        <tr>
          <td>PAYMENTS-072</td>
          <td>Transação não cancelável</td>
        </tr>
        <tr>
          <td>PAYMENTS-073</td>
          <td>Transação já cancelada</td>
        </tr>
        <tr>
          <td>PAYMENTS-078</td>
          <td>Dados inválidos no cancelamento</td>
        </tr>
        <tr>
          <td>PAYMENTS-079</td>
          <td>Valor cancelamento inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-080</td>
          <td>Cartão inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-081</td>
          <td>Excede data</td>
        </tr>
        <tr>
          <td>PAYMENTS-082</td>
          <td>Cancelamento inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-083</td>
          <td>Use função débito</td>
        </tr>
        <tr>
          <td>PAYMENTS-084</td>
          <td>Use função crédito</td>
        </tr>
        <tr>
          <td>PAYMENTS-085</td>
          <td>Transação já efetuada</td>
        </tr>
        <tr>
          <td>PAYMENTS-090</td>
          <td>Transação não autorizada pelo cartão</td>
        </tr>
        <tr>
          <td>PAYMENTS-091</td>
          <td>Fora do prazo permitido</td>
        </tr>
        <tr>
          <td>PAYMENTS-093</td>
          <td>Autorização já encontra-se em processamento</td>
        </tr>
        <tr>
          <td>PAYMENTS-094</td>
          <td>Autorização a confirmar o recebimento</td>
        </tr>
        <tr>
          <td>PAYMENTS-098</td>
          <td>Cliente não cadastrado</td>
        </tr>
        <tr>
          <td>PAYMENTS-117</td>
          <td>Solicite ao portator ligar para o emissor</td>
        </tr>
        <tr>
          <td>PAYMENTS-118</td>
          <td>Cartao invalido ou produto não habilitado</td>
        </tr>
        <tr>
          <td>PAYMENTS-999</td>
          <td>Transacao nao processada</td>
        </tr>
      </table></br></br></br>

      ### Crédito/Débito - 402 Business Error
      <table>
        <tr>
          <th>error_code</th>
          <th>description</th>
        </tr>
        <tr>
          <td>PAYMENTS-001</td>
          <td>Valor não informado</td>
        </tr>
        <tr>
          <td>PAYMENTS-002</td>
          <td>Cartão inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-003</td>
          <td>Cartão vencido</td>
        </tr>
        <tr>
          <td>PAYMENTS-004</td>
          <td>Parâmetro inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-005</td>
          <td>Código de segurança inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-006</td>
          <td>Bandeira inválida</td>
        </tr>
        <tr>
          <td>PAYMENTS-007</td>
          <td>Operação não permitida</td>
        </tr>
        <tr>
          <td>PAYMENTS-008</td>
          <td>Dados inválidos</td>
        </tr>
        <tr>
          <td>PAYMENTS-009</td>
          <td>Valor mínimo da parcela inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-010</td>
          <td>Número de parcelas inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-011</td>
          <td>Número de parcelas excede limite</td>
        </tr>
        <tr>
          <td>PAYMENTS-014</td>
          <td>Parcelamento não permitido</td>
        </tr>
        <tr>
          <td>PAYMENTS-022</td>
          <td>Código de moeda inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-023</td>
          <td>Bandeira não pertece a rede</td>
        </tr>
        <tr>
          <td>PAYMENTS-030</td>
          <td>Erro na autenticação do usuário</td>
        </tr>
        <tr>
          <td>PAYMENTS-032</td>
          <td>Negada pelo emissor</td>
        </tr>
        <tr>
          <td>PAYMENTS-033</td>
          <td>Estabelecimento inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-034</td>
          <td>Solicitação não autorizada</td>
        </tr>
        <tr>
          <td>PAYMENTS-036</td>
          <td>Solicite identificação</td>
        </tr>
        <tr>
          <td>PAYMENTS-037</td>
          <td>Transação em andamento</td>
        </tr>
        <tr>
          <td>PAYMENTS-038</td>
          <td>Transação inválida</td>
        </tr>
        <tr>
          <td>PAYMENTS-039</td>
          <td>Valor da transação inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-041</td>
          <td>Refaça a transação</td>
        </tr>
        <tr>
          <td>PAYMENTS-045</td>
          <td>Cartão restrito</td>
        </tr>
        <tr>
          <td>PAYMENTS-046</td>
          <td>Cartão extraviado</td>
        </tr>
        <tr>
          <td>PAYMENTS-047</td>
          <td>Cartão roubado</td>
        </tr>
        <tr>
          <td>PAYMENTS-048</td>
          <td>Cartão sem registro</td>
        </tr>
        <tr>
          <td>PAYMENTS-049</td>
          <td>Transação não permitida a esse cliente</td>
        </tr>
        <tr>
          <td>PAYMENTS-052</td>
          <td>Transação duplicada</td>
        </tr>
        <tr>
          <td>PAYMENTS-053</td>
          <td>Cartão bloqueado</td>
        </tr>
        <tr>
          <td>PAYMENTS-067</td>
          <td>Valor limite excedido</td>
        </tr>
        <tr>
          <td>PAYMENTS-077</td>
          <td>Número do cartão inválido</td>
        </tr>
        <tr>
          <td>PAYMENTS-096</td>
          <td>Crédito excedido</td>
        </tr>
        <tr>
          <td>PAYMENTS-101</td>
          <td>Autorizadora offline</td>
        </tr>
        <tr>
          <td>PAYMENTS-102</td>
          <td>Cliente sem limite de crédito</td>
        </tr>
        <tr>
          <td>PAYMENTS-103</td>
          <td>Transação não autorizada pela rede autorizadora</td>
        </tr>
        <tr>
          <td>PAYMENTS-104</td>
          <td>Erro de integração</td>
        </tr>
        <tr>
          <td>PAYMENTS-105</td>
          <td>Transação não autorizada</td>
        </tr>
        <tr>
          <td>PAYMENTS-109</td>
          <td>Existe transação a confirmar</td>
        </tr>
        <tr>
          <td>PAYMENTS-112</td>
          <td>Documento inexistente para cancelar</td>
        </tr>
        <tr>
          <td>PAYMENTS-113</td>
          <td>Saldo Insuficiente</td>
        </tr>
        <tr>
          <td>PAYMENTS-114</td>
          <td>Excede o Limite de Valor de Aprovação</td>
        </tr>
        <tr>
          <td>PAYMENTS-115</td>
          <td>Excede o Limite de Frequência de Retiradas</td>
        </tr>
        <tr>
          <td>PAYMENTS-116</td>
          <td>Autorização recusada</td>
        </tr>
      </table></br></br></br>

      ### Crédito/Débito - 404 Not Found
      <table>
       <tr>
         <th>error_code</th>
         <th>description</th>
       </tr>
       <tr>
          <td>PAYMENTS-043</td>
          <td>Registro não encontrado</td>
        </tr>
        <tr>
          <td>PAYMENTS-057</td>
          <td>Transação não existe</td>
        </tr>
        <tr>
          <td>PAYMENTS-076</td>
          <td>Transação não disponível</td>
        </tr>
        <tr>
          <td>PAYMENTS-095</td>
          <td>Autorização não encontrada</td>
        </tr>
      </table></br></br></br>

      ### Crédito/Débito - 500 Internal Server Error
      <table>
        <tr>
          <th>error_code</th>
          <th>description</th>
        </tr>
        <tr>
          <td>PAYMENTS-042</td>
          <td>Resposta inválida</td>
        </tr>
        <tr>
          <td>PAYMENTS-059</td>
          <td>Problema rede local</td>
        </tr>
        <tr>
          <td>PAYMENTS-062</td>
          <td>Instituição temporariamente fora de operação</td>
        </tr>
        <tr>
          <td>PAYMENTS-063</td>
          <td>Mal funcionamento do sistema</td>
        </tr>
        <tr>
          <td>PAYMENTS-064</td>
          <td>Erro banco de dados</td>
        </tr>
        <tr>
          <td>PAYMENTS-071</td>
          <td>Autorizadora temporariamente bloqueada</td>
        </tr>
        <tr>
          <td>PAYMENTS-086</td>
          <td>Erro na transação</td>
        </tr>
        <tr>
          <td>PAYMENTS-099</td>
          <td>Autorizadora não inicializada</td>
        </tr>
        <tr>
          <td>PAYMENTS-100</td>
          <td>Canal desconectado</td>
        </tr>
        <tr>
          <td>PAYMENTS-107</td>
          <td>Erro de comunicação</td>
        </tr>
        <tr>
          <td>PAYMENTS-500</td>
          <td>Internal Server Error</td>
        </tr>
      </table></br></br></br>

      ### Crédito/Débito - 503 Service Unavailable
      <table>
        <tr>
          <th>error_code</th>
          <th>description</th>
        </tr>
        <tr>
          <td>PAYMENTS-021</td>
          <td>Sistema do Emissor indisponível - Tente novamente</td>
        </tr>
      </table></br></br></br>

      ### Crédito/Débito - 504 Gateway Timeout
      <table>
        <tr>
          <th>error_code</th>
          <th>description</th>
        </tr>
        <tr>
          <td>PAYMENTS-031</td>
          <td>Timeout</td>
        </tr>
        <tr>
          <td>PAYMENTS-089</td>
          <td>Timeout interno</td>
        </tr>
      </table></br></br></br>

      ### Boleto - 402 Business Error
      <table style="width: 100%">
        <tr>
          <th>error_code</th>
          <th>description_detail</th>
        </tr>
        <tr>
          <td width="25%" rowspan="31">PAYMENTS-402</td>
          <td>00001 - Nosso número inválido/incompatível</td>
        </tr>
        <tr>
          <td>00007 - Espécie do documento inválida</td>
        </tr>
        <tr>
          <td>00016 - Data de vencimento inválida</td>
        </tr>
        <tr>
          <td>00057 - CEP do sacado incorreto</td>
        </tr>
        <tr>
          <td>00058 - CPF/CNPJ incorreto</td>
        </tr>
        <tr>
          <td>00093 - Valor do título não informado</td>
        </tr>
        <tr>
          <td>00098 - Data emissão inválida</td>
        </tr>
        <tr>
          <td>00100 - Data emissão maior que a data vencimento</td>
        </tr>
        <tr>
          <td>00102 - Endereço do sacado não informado</td>
        </tr>
        <tr>
          <td>00103 - Município do sacado não informado</td>
        </tr>
        <tr>
          <td>00107 - Unidade da federação incorreta</td>
        </tr>
        <tr>
          <td>00113 - Valor desconto inválido</td>
        </tr>
        <tr>
          <td>00124 - CEP do sacado não encontrado</td>
        </tr>
        <tr>
          <td>00128 - Código protesto inválido</td>
        </tr>
        <tr>
          <td>00145 - Tipo de documento inválido</td>
        </tr>
        <tr>
          <td>00147 - Quantidade de dias para protesto inválido</td>
        </tr>
        <tr>
          <td>00160 - Bairro do sacado não informado</td>
        </tr>
        <tr>
          <td>00176 - Registro não encontrado</td>
        </tr>
        <tr>
          <td>00422 - Certificado inconsistente</td>
        </tr>
        <tr>
          <td>00423 - Estação não é do convênio</td>
        </tr>
        <tr>
          <td>00424 - Convênio não marcado para troca de mensagem para entrada online</td>
        </tr>
        <tr>
          <td>00425 - Ambiente marcado como teste e NSU não é de teste</td>
        </tr>
        <tr>
          <td>00426 - Ambiente marcado como produção com NSU de teste</td>
        </tr>
        <tr>
          <td>00427 - Código estação não pertence ao convênio</td>
        </tr>
        <tr>
          <td>00428 - Convênio não está ativo</td>
        </tr>
        <tr>
          <td>00429 - Tipo desconto inválido</td>
        </tr>
        <tr>
          <td>00430 - Isento com valor de desconto</td>
        </tr>
        <tr>
          <td>00431 - Campo nosso número não numérico</td>
        </tr>
        <tr>
          <td>00432 - Cliente não possui entrada online</td>
        </tr>
        <tr>
          <td>00433 - Data limite desconto inválida</td>
        </tr>
      </table>
paths:
  /auth/oauth/v2/token:
    post:
      summary: Geração do token de acesso
      description: 'Endpoint responsável pela geração do token de acesso utilizado nas demais requisições, para isso utilizamos [HTTP Basic Authentication](https://www.w3.org/Protocols/HTTP/1.0/draft-ietf-http-spec.html#BasicAA)'
      tags:
        - Autenticação
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/x-www-form-urlencoded
          default: application/x-www-form-urlencoded
          description: |
            Tipo do conteúdo padrão application/x-www-form-urlencoded.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Basic *AuthString* </br> Onde *AuthString* é a concatenação do seu Client ID, seguido de “:” (dois pontos) mais seu Client Secret, convertidos para base64. <br> Como exemplo: Para o Client ID igual a client-01 e Client Secret igual a secret-key-02, teremos o texto client-01:secret-key-02 após a concatenação, convertendo para base64 teremos o resultado 2xpZW50LTAxOnNlY3JldC1rZXktMDI=.</br> Neste caso o  Authorization no header da requisição será: </br> Authorization: Basic 2xpZW50LTAxOnNlY3JldC1rZXktMDI=
        - in: formData
          required: true
          type: string
          name: scope
          description: Usar o valor fixo "oob"
          default: oob
        - in: formData
          required: true
          type: string
          name: grant_type
          description: Usar O valor fixo "client_credentials"
          default: client_credentials
      responses:
        '200':
          description: Retorna o token de acesso.
          schema:
            type: object
            properties:
              access_token:
                type: string
                description: Token de acesso a API para envio em todas as requisições
                example: ca22a2ge-1914-4b0c-a0fb-d3ce0fde7346
                format: uuidv4
                minLength: 36
                maxLength: 36
              token_type:
                type: string
                description: 'Tipo do token, deve ser enviado no header junto do token (https://tools.ietf.org/html/rfc6750)'
                example: Bearer
              expires_in:
                type: number
                description: Tempo de expiração do token em segundos
                example: 3600
              scope:
                type: string
                description: Escopo do token
                example: oob
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error_authentication'
        '401':
          description: Não autorizado.
          schema:
            $ref: '#/definitions/error_authentication'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/auth/oauth/v2/token \
            -H 'authorization: Basic 2xpZW50LTAxOnNlY3JldC1rZXktMDI=' \
            -H 'content-type: application/x-www-form-urlencoded' \
            -d 'scope=oob&grant_type=client_credentials'
  /v1/tokens/card:
    post:
      summary: Geração do token do cartão
      description: 'Para efetuar transações de forma segura os dados do cartão, exceto CVV, devem ser *tokenizados*, esse processo é feito pelo endpoint descrito abaixo mediante autenticação.'
      tags:
        - Tokenização
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/json
          default: application/json
          description: |
            Tipo do conteúdo application/json.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
        - in: header
          name: seller_id
          required: false
          type: string
          description: |
            Authorization: Código de identificação do e-commerce. Obrigatório quando o cliente for tratado como Plataforma.
          format: uuidv4
          minLength: 36
          maxLength: 36
        - in: body
          name: token_card
          description: Dados do cartão e do comprador
          schema:
            type: object
            required:
              - card_number
            properties:
              card_number:
                type: string
                description: Número do cartão
                minLength: 13
                maxLength: 19
                example: '5155901222280001'
              customer_id:
                type: string
                description: Identificador do comprador. Informação definida pela aplicação que consome a api da Plataforma Digital.
                example: customer_21081826
                maxLength: 100
      responses:
        '201':
          description: Retorna o token do cartão.
          schema:
            type: object
            properties:
              number_token:
                type: string
                description: 'Token do cartão que será utilizado nas transações. Caso a resposta HTTP contenha o header "Content-Encoding:gzip" (<a href="https://www.ietf.org/rfc/rfc2616.txt"> RFC 2616 tópico 14.11 Content-Encoding </a>) a resposta deve passar por um processo de descompactação, dependendo da tecnologia utilizada para integração será necessário a utilização de uma biblioteca de terceiros.'
                example: dfe05208b105578c070f806c80abd3af09e246827d29b866cf4ce16c205849977c9496cbf0d0234f42339937f327747075f68763537b90b31389e01231d4d13c
                minLength: 128
                maxLength: 128
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/tokens/card \
            -H 'authorization: Bearer ca22a2ge-1914-4b0c-a0fb-d3ce0fde7346' \
            -H 'content-type: application/json' \
            -d '{
              "card_number": "5155901222280001"
            }'
  /v1/cards/verification:
    post:
      summary: Verificação de cartão
      description: 'O objetivo da transação de verificação de cartão de crédito é verificar se o cartão de crédito informado pelo portador é um cartão válido. Entende-se como um cartão crédito válido um cartão que não está cancelado, bloqueado ou com restrições. A verificação de cartão está disponível somente para as bandeiras Mastercard e Visa.'
      tags:
        - Pagamento
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/json
          default: application/json
          description: |
            Tipo do conteúdo application/json.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
        - in: header
          name: seller_id
          required: false
          type: string
          description: |
            Authorization: Código de identificação do e-commerce. Obrigatório quando o cliente for tratado como Plataforma.
          format: uuidv4
          minLength: 36
          maxLength: 36
        - in: body
          name: verification_card_body
          required: true
          description: Requisição contendo os dados de cartão para verificação.
          schema:
            $ref: '#/definitions/verification_card_body'
      responses:
        '200':
          description: Verificação de cartão executada com sucesso.
          schema:
            type: object
            properties:
              status:
                type: string
                description: 'Status da verificação do cartão, onde VERIFIED é o indicativo de que o cartão foi validado com sucesso.'
                enum:
                  - VERIFIED
                  - NOT VERIFIED
                example: VERIFIED
                minLength: 5
                maxLength: 20
              verification_id:
                type: string
                format: uuidv4
                description: Identificação do pedido de verificação na plataforma digital.
                example: ae267804-503c-4163-b1b1-f5da5120b74e
                minLength: 36
                maxLength: 36
              authorization_code:
                type: string
                description: Número de autorização gerado pelo sistema de verificação de cartão.
                example: '6964722471672911'
                minLength: 1
                maxLength: 18
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/cards/verification \
            -H 'authorization: Bearer 4d98da5d-767b-4db6-b581-b664e829bd41' \
            -H 'content-type: application/json' \
            -d '
            {
              "number_token": "3fdb3ac9a6def80bf64cd241b9035e77ed8757032d356718864d03465a1130e20d8a897005e144dd6c1a5b4e63fcc99d3755f9e18a7cd852ad82778c65008988",
              "brand":"mastercard",
              "cardholder_name": "JOAO DA SILVA",
              "expiration_month" : "10",
              "expiration_year" : "18",
              "security_code" : "123"
            }'
  /v1/cards:
    post:
      summary: Armazena os dados de cartão do consumidor no cofre
      description: 'Cria um recurso cards dentro da plataforma digital Getnet a partir dos dados de cartão do consumidor, para uso em pagamentos futuros.'
      tags:
        - Cofre
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/json
          default: application/json
          description: |
            Tipo do conteúdo application/json.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
        - in: header
          name: seller_id
          required: false
          type: string
          description: |
            Authorization: Código de identificação do e-commerce.
          format: uuidv4
          minLength: 36
          maxLength: 36
        - in: body
          name: vault_card_body
          required: true
          description: Requisição contendo os dados de cartão para salvamento no cofre.
          schema:
            $ref: '#/definitions/vault_card'
      responses:
        '201':
          description: Identificador do cartão criado com sucesso. Cartão salvo no cofre.
          schema:
            type: object
            properties:
              card_id:
                type: string
                description: 'Identificador do cartão salvo no cofre, pode ser utilizado para recuperar um number_token valido para futuras compras, como também pode ser utilizado para remover cartões salvos.'
                example: e8ad2ae4-9e3e-4532-998f-1a5a11e56e58
                format: uuidv4
                minLength: 36
                maxLength: 36
              number_token:
                type: string
                description: Token do cartão que será utilizado nas transações.
                example: dfe05208b105578c070f806c80abd3af09e246827d29b866cf4ce16c205849977c9496cbf0d0234f42339937f327747075f68763537b90b31389e01231d4d13c
                minLength: 128
                maxLength: 128
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '403':
          description: Produto cofre não habilitado.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/cards \
            -H 'authorization: Bearer ca22a2ge-1914-4b0c-a0fb-d3ce0fde7346' \
            -H 'content-type: application/json' \
            -d '{
                  "number_token": "dfe05208b105578c070f806c80abd3af09e246827d29b866cf4ce16c205849977c9496cbf0d0234f42339937f327747075f68763537b90b31389e01231d4d13c",
                  "cardholder_name": "JOAO DA SILVA",
                  "expiration_month": "12",
                  "expiration_year": "20",
                  "customer_id": "customer_21081826",
                  "cardholder_identification": "12345678912"
                }'
    get:
      summary: Lista de cartões salvos no cofre
      description: Retorna uma lista de cartões salvos com base nos dados de identificação do comprador  - customer_id.
      tags:
        - Cofre
      produces:
        - application/json
      parameters:
        - required: true
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
          type: string
          name: Authorization
          in: header
        - in: header
          name: seller_id
          required: false
          type: string
          description: |
            Authorization: Código de identificação do e-commerce. Obrigatório quando o cliente for tratado como Plataforma.
          format: uuidv4
          minLength: 36
          maxLength: 36
        - required: true
          description: Identificador do comprador. Informação definida pela aplicação que consome a api da Plataforma Digital.
          type: string
          name: customer_id
          maxLength: 100
          in: query
        - required: false
          description: 'Filtro de status dos cartões retornados. Caso não seja informado nenhum filtro, serão retornados os cartões ativos e renovados.'
          enum:
            - all
            - active
            - renewed
          type: string
          name: status
          maxLength: 25
          in: query
      responses:
        '200':
          description: Lista de cartões salvos.
          schema:
            type: object
            properties:
              cards:
                type: array
                items:
                  $ref: '#/definitions/vault_card_response'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '403':
          description: Produto cofre não habilitado.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X GET \ https://api-homologacao.getnet.com.br/v1/cards?customer_id=customer_21081826 \ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc'
  '/v1/cards/{card_id}':
    get:
      summary: Recupera um cartão salvo no cofre
      description: 'Obtém os dados do cartão salvo no cofre, a partir do card_id gerado no momento do armazenamento do cartão.'
      tags:
        - Cofre
      produces:
        - application/json
      parameters:
        - required: true
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
          type: string
          name: Authorization
          in: header
        - in: header
          name: seller_id
          required: false
          type: string
          description: |
            Authorization: Código de identificação do e-commerce. Obrigatório quando o cliente for tratado como Plataforma.
          format: uuidv4
          minLength: 36
          maxLength: 36
        - required: true
          description: Identificador único do cartão na plataforma digital Getnet.
          type: string
          name: card_id
          maxLength: 36
          in: path
      responses:
        '200':
          description: Dados do cartão.
          schema:
            $ref: '#/definitions/vault_card_response'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '403':
          description: Produto cofre não habilitado.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |

            curl -X GET \ https://api-homologacao.getnet.com.br/v1/cards/14a2ce5d-ebc3-49dc-a516-cb5239b02285 \ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc'
    delete:
      summary: Remove um cartão salvo no cofre
      description: 'Remove um cartão salvo na plataforma digital Getnet, a partir do card_id.'
      tags:
        - Cofre
      produces:
        - application/json
      parameters:
        - required: true
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
          type: string
          name: Authorization
          in: header
        - in: header
          name: seller_id
          required: false
          type: string
          description: |
            Authorization: Código de identificação do e-commerce. Obrigatório quando o cliente for tratado como Plataforma.
          format: uuidv4
          minLength: 36
          maxLength: 36
        - required: true
          description: Identificador único do cartão na plataforma digital Getnet.
          type: string
          name: card_id
          maxLength: 36
          in: path
      responses:
        '204':
          description: Cartão removido com sucesso.
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '403':
          description: Produto cofre não habilitado.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Recurso não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X DELETE \ https://api-homologacao.getnet.com.br/v1/cards/14a2ce5d-ebc3-49dc-a516-cb5239b02285 \ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc'
  /v1/payments/credit:
    post:
      summary: Pagamento com cartão de crédito
      description: |-
        Nesse endpoint serão recebidos dados para pagamento com cartão de crédito. </br> </br>
        Para o os campos delayed, authenticated e pre_authorization, somente um deles podem estar com valor true, indicando assim somente um serviço de crédito a ser processado.
      tags:
        - Pagamento
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/json
          default: application/json
          description: |
            Tipo do conteúdo application/json.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Bearer *AuthString* </br>
            Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
        - in: body
          name: credit_body
          required: true
          description: Requisição contendo os dados para pagamento com cartão de crédito e análise de fraude.
          schema:
            $ref: '#/definitions/payment_credit'
      responses:
        '200':
          description: Pagamento efetuado com sucesso. Transação aprovada.
          schema:
            $ref: '#/definitions/payment_credit_response'
        '201':
          description: Pagamento criado com sucesso.
          schema:
            $ref: '#/definitions/payment_authenticated_response'
        '202':
          description: 'Solicitação de pagamento de crédito com confirmação tardia ou pré autorização recebida, aceita e armazenada esperando confirmação.'
          schema:
            $ref: '#/definitions/payment_credit_pre_response'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error_credit'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error_credit'
        '402':
          description: Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.
          schema:
            $ref: '#/definitions/error_credit'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error_credit'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error_credit'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/payments/credit \
            -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \
            -d '{
              "seller_id": "6eb2412c-165a-41cd-b1d9-76c575d70a28",
              "amount": 100,
              "currency": "BRL",
              "order": {
                "order_id": "6d2e4380-d8a3-4ccb-9138-c289182818a3",
                "sales_tax": 0,
                "product_type": "service"
              },
              "customer": {
                "customer_id": "customer_21081826",
                "first_name": "João",
                "name": "João da Silva",
                "email": "customer@email.com.br",
                "document_type": "CPF",
                "phone_number": "5551999887766",
                "billing_address": {
                  "street": "Av. Brasil",
                  "number": "1000",
                  "complement": "Sala 1",
                  "district": "São Geraldo",
                  "city": "Porto Alegre",
                  "state": "RS",
                  "country": "Brasil",
                  "postal_code": "90230060"
                }
              },
              "credit": {
                "delayed": false,
                "save_card_data": false,
                "transaction_type": "FULL",
                "number_installments": 1,
                "soft_descriptor": "LOJA*TESTE*COMPRA-123",
                "dynamic_mcc": 1799,
                "card": {
                  "number_token": "dfe05208b105578c070f806c80abd3af09e246827d29b866cf4ce16c205849977c9496cbf0d0234f42339937f327747075f68763537b90b31389e01231d4d13c",
                  "bin": "123412",
                  "security_code": "123",
                  "expiration_month": "12",
                  "expiration_year": "20",
                  "cardholder_name": "JOAO DA SILVA"
                }
              }
            }'
  '/v1/payments/credit/{payment_id}/confirm':
    post:
      summary: Confirmação tardia de pagamento ou confirmação de pré autorização com cartão de crédito
      description: 'Quando uma transação de crédito é feita com a opção delayed = true ou pre_authorization = true, confirmação tardia ou pré autorização, respectivamente, ela pode ser posteriormente confirmada, este endpoint é responsável pela confirmação.'
      tags:
        - Pagamento
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/json
          default: application/json
          description: |
            Tipo do conteúdo application/json.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
        - in: path
          name: payment_id
          description: Identificador do pagamento previamente recebido e aceito.
          type: string
          minLength: 36
          maxLength: 36
          format: uuidv4
          required: true
        - in: body
          name: body
          description: Requisição contendo os dados para uma solicitação de confirmação de crédito tardio ou pré autorizado.
          schema:
            $ref: '#/definitions/credit_confirm'
          required: false
      responses:
        '200':
          description: Pagamento confirmado com sucesso.
          schema:
            $ref: '#/definitions/credit_delayed_confirm'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '402':
          description: Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/payments/credit/06f256c8-1bbf-42bf-93b4-ce2041bfb87e/confirm \
            -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \
            -H 'cache-control: no-cache' \
            -H 'content-type: application/json' \
  '/v1/payments/credit/{payment_id}/authenticated/finalize':
    post:
      summary: Finalização de pagamento autenticado com cartão de crédito
      description: Finaliza a transação de crédito autenticado.
      tags:
        - Pagamento
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/json
          default: application/json
          description: |
            Tipo do conteúdo application/json.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
        - in: path
          name: payment_id
          description: Identificador do pagamento previamente recebido e aceito.
          type: string
          minLength: 36
          maxLength: 36
          format: uuidv4
          required: true
        - in: body
          name: credit_finalize_body
          required: true
          description: Requisição contendo os dados para finalização de pagamento com cartão de crédito autenticado.
          schema:
            $ref: '#/definitions/payment_credit_finalize'
      responses:
        '200':
          description: Pagamento confirmado com sucesso.
          schema:
            $ref: '#/definitions/payment_credit_finalize_response'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '402':
          description: Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/payments/credit/6eb2412c-165a-41cd-b1d9-76c575d70a28/authenticated/finalize \
            -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \
            -H 'cache-control: no-cache' \
            -H 'content-type: application/json' \
  '/v1/payments/credit/{payment_id}/adjustment':
    post:
      summary: Ajustar valor de uma transação de pré autorização
      description: Executa um ajuste (Incremento/Decremento) no valor previamente reservado no saldo do Portador por uma Transação de Pré-Autorização. O valor da Transação de Ajuste de Pré-Autorização pode ser maior ou menor que o valor original. Na chamada do processo de ajuste sempre deve ser enviado o valor final desejado no campo de amount.
      tags:
        - Pagamento
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/json
          default: application/json
          description: |
            Tipo do conteúdo application/json.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
        - in: path
          name: payment_id
          description: Identificador do pagamento previamente recebido e aceito.
          type: string
          minLength: 36
          maxLength: 36
          format: uuidv4
          required: true
        - in: body
          name: body
          description: Requisição contendo os dados para uma solicitação de ajuste de valor de uma Pré-Autorização.
          schema:
            $ref: '#/definitions/credit_preauthorized_adjustment'
          required: true
      responses:
        '200':
          description: Ajuste realizado com sucesso.
          schema:
            $ref: '#/definitions/credit_preauthorized_adjustment_response'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '402':
          description: Requisição é válida mas o ajuste foi negado. Pode ser negado por vários motivos / regras de negócios.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/payments/credit/06f256c8-1bbf-42bf-93b4-ce2041bfb87e/adjustment \
            -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \
            -H 'cache-control: no-cache' \
            -H 'content-type: application/json' \ -d '{
              "amount": 19990,
              "currency": "BRL",
              "dynamic_mcc": 6666,
              "soft_descriptor": "LOJA*TESTE*COMPRA-123"
            }'
  '/v1/payments/credit/{payment_id}/cancel':
    post:
      summary: Cancelar pagamento no cartão de crédito
      description: |-
        Cancelar uma transação de crédito completa ou transação de crédito tardia ou transação de pré autorização.

        * Estorna ou desfaz transações feitas no mesmo dia (D0).
      tags:
        - Pagamento
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/json
          default: application/json
          description: |
            Tipo do conteúdo application/json.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
        - in: path
          name: payment_id
          description: Identificador do pagamento previamente recebido e aceito.
          type: string
          minLength: 36
          maxLength: 36
          format: uuidv4
          required: true
      responses:
        '200':
          description: Pagamento cancelado com sucesso.
          schema:
            $ref: '#/definitions/credit_delayed_cancel'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '402':
          description: Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/payments/credit/06f256c8-1bbf-42bf-93b4-ce2041bfb87e/cancel \
            -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \
            -H 'cache-control: no-cache' \
            -H 'content-type: application/json' \
  /v1/payments/debit:
    post:
      summary: Pagamento com cartão de débito
      description: |-
        Nesse endpoint serão recebidos dados para pagamento com cartão de débito.

        ### Fluxo Transação de Débito Autenticado
        <br> ![Fluxo Transação Débito Autenticado](/img/fluxodebitoautenticado.png) <br> <br> <br>
        <ol type="1"> <li>Pagamento com cartão de débito (Requisição da transação de débito autenticado).</li> <li>Enviar requisição da transação de débito para a Plataforma Digital Getnet – Verificação 3D Secure</li> <li>Resposta da transação de débito – Verificação 3D Secure, neste passo são retornados alguns atributos:</li> <ol type="a">
         <li><b>payment_id</b>: identificador único do pagamento gerado pela Plataforma Digital Getnet, será utilizando no passo 9 da transação.</li>
         <li><b>redirect_url</b>: URL gerada pelo emissor, deve ser chamada no passo 5 da transação</li>
         <li><b>post_data.issuer_payment_id</b>: identificador do pagamento gerado pelo emissor, será enviado no passo 5 da transação</li>
         <li><b>post_data.payer_authentication_request</b>: dado referente a transação, gerado no formato Base64-encoded pelo emissor, será enviado no passo 5 da transação</li>
        </ol> <li>Resposta da transação para o device do consumidor</li> <li>Executar um redirecionamento, enviando uma requisição HTTP POST para a URL do atributo <b>redirect_url</b> retornado no passo 3 da transação. Para o request, você deve enviar as seguintes informações no header e no body da requisição:</li> <ol type="a"> <li><b>No Header</b></li> <ol type="i"> <li><b>Content-Type</b>: application/x-www-form-urlencoded</li> </ol> <li><b>No Body</b></li> <ol type="i"> <li><b>MD</b>: referente ao atributo <b>post_data.issuer_payment_id</b> retornado no passo 3 da transação.</li> <li><b>PaReq</b>: referente ao atributo <b>post_data.payer_authentication_request</b> retornado no passo 3 da transação.</li> <li><b>TermUrl</b>: Sua URL, responsável por receber o PaRes por parte do emissor, conforme descrito no passo 8 da transação</li> </ol> </ol> <li>Emissor responde a requisição enviando um formulário para autenticação do portador</li> <li>Portador preenche o formulário com as informações solicitadas e envia para a validação do emissor</li> <li>Emissor responde enviando um POST HTTP para a URL informada no atributo TermUrl do passo 5 da transação. Nesta requisição, o emissor enviará dois atributos:</li> <ol type="a"> <li><b>MD</b>: retorno do atributo MD enviado no passo 5 da transação</li> <li><b>PaRes</b>: autorização de pagamento retornada pelo emissor, será utilizado no passo 9 da transação</li> </ol> <li>A aplicação recebe a requisição do emissor e envia uma solicitação de finalização da transação de débito (<a href="/api#tag/Pagamento%2Fpaths%2F~1v1~1payments~1debit~1%7Bpayment_id%7D~1authenticated~1finalize%2Fpost">Finalização de pagamento autenticado com cartão de débito</a>)</li> </ol>
      tags:
        - Pagamento
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/json
          default: application/json
          description: |
            Tipo do conteúdo application/json.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Bearer *AuthString* </br>
            Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
        - in: body
          name: debit_body
          required: true
          description: Requisição contendo os dados para pagamento com cartão de débito e análise de fraude.
          schema:
            $ref: '#/definitions/payment_debit'
      responses:
        '201':
          description: Pagamento criado com sucesso.
          schema:
            $ref: '#/definitions/payment_authenticated_response'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error_debit'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error_debit'
        '402':
          description: Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.
          schema:
            $ref: '#/definitions/error_debit'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error_debit'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error_debit'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/payments/debit \
            -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \
            -d '{
            "seller_id": "6eb2412c-165a-41cd-b1d9-76c575d70a28",
            "amount": 100,
            "currency": "BRL",
            "order": {
              "order_id": "6d2e4380-d8a3-4ccb-9138-c289182818a3",
              "sales_tax": 0,
              "product_type": "service"
            },
            "customer": {
              "customer_id": "customer_21081826",
              "first_name": "João",
              "name": "João Silva",
              "document_type": "CPF",
              "document_number": "12345678912",
              "phone_number": "5551999887766",
              "billing_address": {
                "street": "Av. Brasil",
                "complement": "Sala 1",
                "number": "1000",
                "district": "São Geraldo",
                "city": "Porto Alegre",
                "state": "RS",
                "country": "Brasil",
                "postal_code": "90230060"
              }
            },
            "device": {
              "ip_address": "127.0.0.1",
              "device_id": "hash-device-id"
            },
            "shippings": [{
              "first_name": "João",
              "name": "João da Silva",
              "email": "customer@email.com.br",
              "phone_number": "5551999887766",
              "shipping_amount": 3000,
              "address": {
                "street": "Av. Brasil",
                "complement": "Sala 1",
                "number": "1000",
                "district": "São Geraldo",
                "city": "Porto Alegre",
                "state": "RS",
                "country": "Brasil",
                "postal_code": "90230060"
              }
            }],
            "debit": {
              "cardholder_mobile": "5551999887766",
              "soft_descriptor": "LOJA*TESTE*COMPRA-123",
              "dynamic_mcc": 1799,
              "card": {
                "number_token": "dfe05208b105578c070f806c80abd3af09e246827d29b866cf4ce16c205849977c9496cbf0d0234f42339937f327747075f68763537b90b31389e01231d4d13c",
                "security_code": "123",
                "expiration_month": "12",
                "expiration_year": "20",
                "cardholder_name": "JOAO DA SILVA"
              }
              }
            }'
  '/v1/payments/debit/{payment_id}/authenticated/finalize':
    post:
      summary: Finalização de pagamento autenticado com cartão de débito
      description: Finaliza a transação de débito autenticado.
      tags:
        - Pagamento
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/json
          default: application/json
          description: |
            Tipo do conteúdo application/json.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
        - in: path
          name: payment_id
          description: Identificador do pagamento previamente recebido e aceito.
          type: string
          minLength: 36
          maxLength: 36
          format: uuidv4
          required: true
        - in: body
          name: debit_confirm_body
          required: true
          description: Requisição contendo os dados para confirmação de pagamento com cartão de débito.
          schema:
            $ref: '#/definitions/payment_debit_confirm'
      responses:
        '200':
          description: Pagamento confirmado com sucesso.
          schema:
            $ref: '#/definitions/payment_debit_confirm_response'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '402':
          description: Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/payments/debit/6eb2412c-165a-41cd-b1d9-76c575d70a28/authenticated/finalize \
            -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \
            -H 'cache-control: no-cache' \
            -H 'content-type: application/json' \
  /v1/payments/boleto:
    post:
      summary: Registro para pagamento com boleto
      description: 'Nesse endpoint serão recebidos os dados do novo boleto, que será registrado no Banco Santander.  <br> <br> <b> Impressão da segunda via de um boleto</b>  <br><br> No registro de um pagamento com boleto é retornado o campo payment_id na resposta da requisição de registro. O payment_id será utilizado para a requisição de download da segunda via do boleto nas requisições <a  href="https://developers.getnet.com.br/api#tag/Pagamento%2Fpaths%2F~1v1~1payments~1boleto~1%7Bpayment_id%7D~1pdf%2Fget"> Download pdf do boleto</a> ou <a  href="https://developers.getnet.com.br/api#tag/Pagamento%2Fpaths%2F~1v1~1payments~1boleto~1%7Bpayment_id%7D~1html%2Fget"> Download html do boleto</a> <br> <br> <b>Observação&#58;</b> No callback de Registro de boleto também pode ser recuperado o campo payment_id. Mais informações sobre callback estão disponíveis no <a  href="https://developers.getnet.com.br/faq">FAQ "Como receber status das transações via callback?"</a>'
      tags:
        - Pagamento
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: Content-type
          required: true
          type: string
          enum:
            - application/json
          default: application/json
          description: |
            Tipo do conteúdo application/json.
        - in: header
          name: Authorization
          required: true
          type: string
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
        - in: body
          name: boleto_body
          required: true
          description: Requisição contendo os dados para pagamento com boleto.
          schema:
            $ref: '#/definitions/payment_boleto'
      responses:
        '201':
          description: Boleto emitido com sucesso.
          schema:
            $ref: '#/definitions/payment_boleto_response'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '402':
          description: Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.
          schema:
            $ref: '#/definitions/error_boleto_402'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/payments/boleto \
            -H 'authorization: Bearer 151f3061-d162-41c0-a3e7-474c49e60f57' \
            -H 'cache-control: no-cache' \
            -H 'content-type: application/json' \
            -d '{
                  "seller_id": "6eb2412c-165a-41cd-b1d9-76c575d70a28",
                  "amount": 100,
                  "currency": "BRL",
                  "order": {
                    "order_id": "6d2e4380-d8a3-4ccb-9138-c289182818a3",
                    "sales_tax": 0,
                    "product_type": "service"
                  },
                  "boleto": {
                    "our_number": "000001946598",
                    "document_number": "170500000019763",
                    "instructions": "Pagar até o vencimento",
                    "provider": "santander",
                    "expiration_date": "10/05/2018"
                  },
                  "customer": {
                    "first_name": "João",
                    "name": "João da Silva",
                    "document_type": "CPF",
                    "document_number": "12345678912",
                    "billing_address": {
                      "street": "Av. Brasil",
                      "number": "1000",
                      "complement": "Sala 1",
                      "district": "São Geraldo",
                      "city": "Porto Alegre",
                      "state": "RS",
                      "country": "Brasil",
                      "postal_code": "90230060"
                    }
                  }
                }
  '/v1/payments/boleto/{payment_id}/pdf':
    get:
      summary: Download pdf do boleto
      description: Nesse endpoint o usuário consegue realizar o download PDF do boleto para o ID informado no path.
      tags:
        - Pagamento
      produces:
        - application/json
      parameters:
        - in: path
          name: payment_id
          description: Hash identificador do boleto.
          type: string
          minLength: 24
          maxLength: 24
          required: true
      responses:
        '200':
          description: 'Em caso de sucesso, será retornado o boleto em arquivo PDF.'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X GET \
            'https://api-homologacao.getnet.com.br/v1/payments/boleto/599ca35059028b001023b323/pdf'
  '/v1/payments/boleto/{payment_id}/html':
    get:
      summary: Download html do boleto
      description: Nesse endpoint o usuário consegue realizar o download html do boleto para o ID informado no path.
      tags:
        - Pagamento
      produces:
        - application/json
      parameters:
        - in: path
          name: payment_id
          description: Hash identificador do boleto.
          type: string
          minLength: 24
          maxLength: 24
          required: true
      responses:
        '200':
          description: 'Em caso de sucesso, será retornado o boleto em arquivo html.'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X GET \
            'https://api-homologacao.getnet.com.br/v1/payments/boleto/599ca35059028b001023b323/html'
  /v1/payments/cancel/request:
    post:
      summary: Solicita um cancelamento
      description: |-

        * Solicita o cancelamento de transações que foram realizadas há mais de 1 dia (D+n).
      tags:
        - Cancelamento
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - required: true
          description: Tipo do conteúdo application/json.
          enum:
            - application/json
          default: application/json
          type: string
          name: Content-Type
          in: header
        - required: true
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
          type: string
          name: Authorization
          in: header
        - required: false
          description: Código de identificação do e-commerce.
          type: string
          name: seller_id
          format: uuidv4
          minLength: 36
          maxLength: 36
          in: header
        - required: true
          in: body
          name: body
          description: Requisição contendo os dados para uma solicitação de cancelamento.
          schema:
            $ref: '#/definitions/cancel_request'
      responses:
        '202':
          description: Solicitação de cancelamento aceita
          schema:
            $ref: '#/definitions/cancel_request_response'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '409':
          description: Conflito. Chave do cliente duplicada (cancel_custom_key).
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
        - lang: cURL
          source: |
            curl -X POST \
            https://api-homologacao.getnet.com.br/v1/payments/cancel/request \
            -H 'authorization: Bearer 151f3061-d162-41c0-a3e7-474c49e60f57' \
            -H 'cache-control: no-cache' \
            -H 'content-type: application/json' \
            -H 'seller_id: 6eb2412c-165a-41cd-b1d9-76c575d70a28' \
            -d '{
                  "payment_id": "06f256c8-1bbf-42bf-93b4-ce2041bfb87e",
                  "cancel_amount": 19990,
                  "cancel_custom_key": "4ec33ee18f9e45bfb73c5c30667f9006"
              }
    get:
      summary: Retorna uma solicitação de cancelamento pela chave do cliente
      description: Retorna os dados da solicitação de cancelamento pela chave gerada pelo cliente.
      tags:
        - Cancelamento
      produces:
        - application/json
      parameters:
        - required: true
          description: |
            Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.
          type: string
          name: Authorization
          in: header
        - required: false
          description: Código de identificação do e-commerce.
          type: string
          name: seller_id
          format: uuidv4
          minLength: 36
          maxLength: 36
          in: header
        - required: true
          description: Chave gerada pelo cliente para a solicitação de cancelamento.
          type: string
          name: cancel_custom_key
          maxLength: 32
          in: query
      responses:
        '200':
          description: Retorna os dados da solicitação de cancelamento.
          schema:
            $ref: '#/definitions/cancel_query_response'
        '400':
          description: Requisição inválida.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: Autenticação inválida.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: Não encontrado.
          schema:
            $ref: '#/definitions/error'
        '500':
          description: Erro interno do servidor ou serviço.
          schema:
            $ref: '#/definitions/error'
      x-code-samples:
[...]
