{"swagger":"2.0","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"host":"api-homologacao.getnet.com.br","info":{"title":"Referência da API | Plataforma Digital","version":"1.0.0","description":"(doc 1.0.42 | 13/6/2019) \n# Introdução\nBem-vindo à Getnet!\n\nEste é o manual para que você possa integrar sua empresa à Plataforma de Digital da Getnet e começar a usufruir das melhores soluções do mercado.\n\nPara atendê-lo da melhor maneira, a Getnet oferece diferentes soluções seguras para captura de transações de E-Commerce. Estes serviços permitem aos estabelecimentos credenciados aceitar cartões de crédito, cartões de débito e boletos bancários como forma de pagamento em suas lojas virtuais através da implementação de processos simples.\n\nAlém dos serviços de pagamento, a Getnet oferece serviços de cofre, recorrência, antifraude, conciliador e outras facilidades para atender seu negócio com rapidez e segurança.\n\nSugerimos que este documento seja lido com atenção, e usado como guia de referência para quaisquer dúvidas não somente no momento da implementação da integração de sua plataforma de comércio eletrônico com a Rede de Adquirência da Getnet, mas para quaisquer mudanças nos sistemas.\n\nO conteúdo deste Manual de Integração se destina a programadores e desenvolvedores de plataformas para comércio eletrônico que desejam realizar a captura e o processamento de suas transações diretamente com a Rede Adquirente da Getnet.\n\nNeste documento o desenvolvedor/analista terá acesso a todos os passos e processos referentes à integração com o sistema de captura e autorização de transações financeiras da Getnet via as funcionalidades da API.\n\nSugerimos também que, periodicamente e sempre que for iniciar um desenvolvimento relacionado à captura de transações, utilize este portal para acompanhamento de mudanças e versionamento dos produtos de nossa plataforma.\n\n# Soluções\n\nPara atender a todas as demandas de nossos clientes, criamos uma Plataforma de E-Commerce que conta com um conjunto de soluções diversificadas para cada necessidade. Essas soluções estão agrupadas em 2 modelos, de acordo com a forma de captura das transações. São eles:\n\n* E-Commerce WEB via Checkout Iframe\n\n* E-Commerce WEB via API\n\nEste manual cobre o modelo de E-Commerce WEB via API, que realiza a conexão com a Getnet utilizando protocolo HTTPS tendo sua chamada através de WebServices em REST.\n# Requisitos de Infraestrutura\n### Protocolo TLS\nPrezado Cliente, conforme comunicações realizadas previamente por email, gostaríamos de reforçar que:\nDe acordo com os requisitos da normativa do PCI DSS 3.2 que regulamentam os ambientes transacionais, desde de o dia 30/06/2018 às 22h00 nossos serviços de e-commerce somente trabalham no protocolo de criptografia TLS 1.1 e superiores. A versão antiga do TLS 1.0 e anteriores foram desativadas permanentemente.\n\nPara evitar qualquer impacto em sua plataforma, é importante que você confira se seus sistemas estão aptos a trabalhar no protocolo TLS 1.1 e superiores, que são mais seguros e aceitos pelo PCI. Você não pode mais efetuar transações no protocolo TLS 1.0.\n\nMaiores informações podem ser encontradas diretamente no site do PCI.\n\n<a href=\"https://www.pcisecuritystandards.org/documents/Migrating_from_SSL_Early_TLS_Information%20Supplement_v1.pdf\">Migrating From SSL Early TLS InformationSupplement v1.pdf</a>\n\n# Como começar\nA Plataforma Digital é um ecossistema completo criado para fornecer as mais diversas soluções para o mercado de pagamentos (eCommerce, mCommerce).\n\nTemos disponíveis as seguintes funcionalidades transacionais: Crédito à Vista, Crédito Parcelado Lojista, Crédito com Pré-autorização, Crédito com Confirmação Tardia, Crédito Autenticado, Débito Autenticado, Verificação de Cartão e Boleto Registrado.\n\nMais informações: https://developers.getnet.com.br/api#section/Funcionalidades\n\nAlém dos seguintes módulos para enriquecer a experiência de pagamentos de sua loja e de seus clientes:\n\n### Checkout digital seguro\n\nO checkout é a forma mais simples de realizar a integração com a Getnet. Com ele você não precisa se preocupar com segurança no envio dos dados. Basta realizar a implementação da nossa solução via API ou iFrame que nós cuidaremos de todo o resto.\n\n### Pagamento via boleto\n\nMais uma comodidade para negócios que possuem convênio com Santander. Através dele seu negócio terá mais oportunidades de vendas. Os boletos são gerados já com registro XML, adequados ao modelo FEBRABAN.\n\n### Antifraude\n\nTenha mais segurança nas transações através da análise de comportamento de compra do consumidor. Em casos de atitudes suspeitas a transação é bloqueada automaticamente, evitando risco para seu negócio e dando mais segurança aos clientes do seu e-commerce.\n\n### Cofre\n\nOfereça aos seus clientes a possibilidade de guardar as informações dos cartões utilizados para uso futuro, melhorando a experiência de consumo em uma compra futura. Tudo isso de maneira segura, através da certificação PCI.\n\n### Conciliador Financeiro\n\nTenha acesso a uma visão única e integrada do seu fluxo de caixa e aumente a eficiência das análises financeiras, consultas a transações e taxas.\n\n### Recorrência\n\nSe seu e-commerce trabalha com mensalidades ou cobranças recorrentes, com a solução Getnet é possível realizar a gestão das cobranças que possuem periodicidade sem precisar reinserir os dados do cartão.\n\n### Consultoria Getnet\n\nConte com um time especializado em negócios digitais, prontos para oferecer uma consultoria completa em meios de pagamento. Desde a identificação das necessidades do seu negócio até a customização de soluções e acompanhamento do pós-implantação.\n\n## Criando a sua conta no Sandbox\n\nO Sandbox da Plataforma Digital é a maneira mais ágil para você, desenvolvedor, experimentar nossos serviços de ecommerce.\n\nCrie uma conta através do link a seguir, precisando somente de email e senha: https://developers.getnet.com.br/login\n##  Obtenção de chaves de autenticação\nSuas chaves de autenticação para o ambiente do Sandbox são disponibilizadas na aba de configurações em Identificação da API.\n\n## Funcionalidades no Sandbox\n\nO path de utilização do ambiente do sandbox via api é: api-sandbox.getnet.com.br\n\nAtualmente, estão disponíveis no Sandbox os seguintes serviços da API:\n* Autenticação Oauth\n* Tokenização de cartão\n* Pagamento com cartão de crédito\n* Pagamento com cartão de débito\n* Pagamento com boleto\n* Cancelamento de pagamento com cartão\n\nTambém estão disponíveis no Sandbox os seguintes simuladores:\n* Tokenização de cartão\n* Pagamento com cartão de crédito\n* Pagamento com cartão de débito\n* Pagamento com boleto\n\nVocê pode acessar nosso simulador intuitivo através da aba Simuladores do ambiente Sandbox.\n\nVocê também pode conferir o histórico de utilização do ambiente de Sandbox na aba Logs.\n\n## Não sou desenvolvedor\n\nCaso você tenha caído nesta seção e não seja um desenvolvedor, não entre em pânico! O eCommerce da Getnet ainda é o produto certo para você!!!\n### Não possui loja virtual?\nNossa orientação é a Loja Digital Getnet! Você monta sua loja virtual de forma simples e segura, garantindo também, a sua presença no mundo online.  Entenda e solicite aqui&#58; https://site.getnet.com.br/loja-digital/\n### Já possui loja virtual?\nNossa orientação é procurar nosso parceiro de plataforma de ecommerce, VTEX (http://www.vtex.com/).\n\nO qual tem um leque de soluções para vendas online já desenvolvidas e prontas para contratação. Incluindo a integração com o ecommerce Getnet!\n\nAs seguintes funcionalidades estão disponíveis no plugin VTEX:\n\n<br> <table class=\"table table-bordered\">\n  <tr>\n    <th>Funcionalidade</th>\n    <th>VTEX</th>\n  </tr>\n  <tr>\n    <th>Crédito à Vista</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i> (Somente no formato de Captura Tardia)</td>\n  </tr>\n  <tr>\n    <th>Crédito Parcelado Lojista (sem Juros)</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n  </tr>\n  <tr>\n    <th>Crédito Parcelado Emissor (com Juros)</th>\n    <td></td>\n  </tr>\n  <tr>\n    <th>Crédito Autenticado</th>\n    <td></td>\n  </tr>\n  <tr>\n    <th>Débito Autenticado</th>\n    <td></td>\n  </tr>\n  <tr>\n    <th>Pré-autorização</th>\n    <td></td>\n  </tr>\n  <tr>\n    <th>Verificação de Cartão</th>\n    <td></td>\n  </tr>\n  <tr>\n    <th>MCC Dinâmico</th>\n    <td></td>\n  </tr>\n  <tr>\n    <th>Soft Descriptor</th>\n    <td></td>\n  </tr>\n  <tr>\n    <th>Recorrência</th>\n    <td></td>\n  </tr>\n</table> <br>\n\n## Processo de Homologação\n\nPara iniciar a homologação de sua integração com a Plataforma Digital da Getnet, utilizando nosso ambiente de testes você precisa ser credenciado na Getnet.\n\nCaso já seja cliente nosso, procure seu contato comercial com a Getnet para que ele solicite a habilitação do produto Plataforma Digital para você.\n\nCaso você não seja cliente, procure seu gerente de conta Santander e solicite mais informações sobre o Ecommerce Getnet.\n\nOs cartões de teste aceitos neste ambiente são encontrados nesta documentação no tópico Cartões de Teste (https://developers.getnet.com.br/api#section/Cartoes-para-Teste)\n\n## Necessita ajuda\n\nQuaisquer dúvidas técnicas, fique à vontade para contatar nosso time pela caixa suporte.edigital@getnet.com.br.\n\n# Funcionalidades\n\n* Pagamentos: Crédito à Vista, Crédito Parcelado Lojista, Crédito com Pré-autorização, Crédito com Confirmação Tardia, Crédito Autenticado, Débito Autenticado, Verificação de Cartão e Boleto Registrado.\n\n* Produtos: Antifraude, Cofre, Recorrência e Conciliação de Transações.\n\n## Funcionalidades por Bandeira\n\n<table>\n  <tr>\n    <th>Funcionalidade</th>\n    <th>Mastercard</th>\n    <th>Visa</th>\n    <th>Amex</th>\n    <th>Elo</th>\n    <th>Hipercard</th>\n  </tr>\n  <tr>\n    <th>Crédito à Vista</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n  </tr>\n  <tr>\n    <th>Crédito Parcelado Lojista (sem Juros)</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n  </tr>\n  <tr>\n    <th>Crédito Parcelado Emissor (com Juros)</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n  </tr>\n  <tr>\n    <th>Crédito Autenticado</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td></td>\n    <td></td>\n    <td></td>\n  </tr>\n  <tr>\n    <th>Débito Autenticado</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td></td>\n    <td></td>\n    <td></td>\n  </tr>\n  <tr>\n    <th>Pré-autorização</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n  </tr>\n  <tr>\n    <th>Verificação de Cartão</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td></td>\n    <td></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n  </tr>\n  <tr>\n    <th>MCC Dinâmico</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n  </tr>\n  <tr>\n    <th>Soft Descriptor</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n  </tr>\n  <tr>\n    <th>Recorrência</th>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td><i class=\"fa fa-check fa-2x\" aria-hidden=\"true\"></i></td>\n    <td></td>\n    <td></td>\n    <td></td>\n  </tr>\n</table>\n\n# Cartões para Teste\n\nPara fim de teste podem ser utilizados os seguintes cartões:\n\n<table>\n  <tr>\n    <th>Cartão</th>\n    <th>Tipo de Teste</th>\n    <th>Resultado do Teste</th>\n  </tr>\n  <tr>\n    <td><i class=\"fa fa-cc-mastercard fa-2x\" aria-hidden=\"true\"></i> 5155901222280001</td>\n    <td>Transação Autorizada</td>\n    <td><i class=\"fa fa-check-circle-o fa-1x\" aria-hidden=\"true\"></i> Transação Aprovada</td>\n  </tr>\n  <tr>\n    <td><i class=\"fa fa-cc-mastercard fa-2x\" aria-hidden=\"true\"></i> 5155901222270002</td>\n    <td>Transação Não Autorizada</td>\n    <td><i class=\"fa fa-times-circle-o fa-1x\" aria-hidden=\"true\"></i> Cartão Inválido</td>\n  </tr>\n  <tr>\n    <td><i class=\"fa fa-cc-mastercard fa-2x\" aria-hidden=\"true\"></i> 5155901222260003</td>\n    <td>Transação Não Autorizada</td>\n    <td><i class=\"fa fa-times-circle-o fa-1x\" aria-hidden=\"true\"></i> Cartão Vencido</td>\n  </tr>\n  <tr>\n    <td><i class=\"fa fa-cc-mastercard fa-2x\" aria-hidden=\"true\"></i> 5155901222250004</td>\n    <td>Transação Não Autorizada</td>\n    <td><i class=\"fa fa-times-circle-o fa-1x\" aria-hidden=\"true\"></i> Estabelecimento Inválido</td>\n  </tr>\n  <tr>\n    <td><i class=\"fa fa-cc-mastercard fa-2x\" aria-hidden=\"true\"></i> 5155901222240005</td>\n    <td>Transação Não Autorizada</td>\n    <td><i class=\"fa fa-times-circle-o fa-1x\" aria-hidden=\"true\"></i> Saldo Insuficiente</td>\n  </tr>\n  <tr>\n    <td><i class=\"fa fa-cc-mastercard fa-2x\" aria-hidden=\"true\"></i> 5155901222230006</td>\n    <td>Transação Não Autorizada</td>\n    <td><i class=\"fa fa-times-circle-o fa-1x\" aria-hidden=\"true\"></i> Autorização Recusada</td>\n  </tr>\n  <tr>\n    <td><i class=\"fa fa-cc-mastercard fa-2x\" aria-hidden=\"true\"></i> 5155901222220007</td>\n    <td>Transação Não Autorizada</td>\n    <td><i class=\"fa fa-times-circle-o fa-1x\" aria-hidden=\"true\"></i> Transacao Não Processada</td>\n  </tr>\n  <tr>\n    <td><i class=\"fa fa-cc-mastercard fa-2x\" aria-hidden=\"true\"></i> 5155901222210008</td>\n    <td>Transação Não Autorizada</td>\n    <td><i class=\"fa fa-times-circle-o fa-1x\" aria-hidden=\"true\"></i> Excede o Limite de Retiradas</td>\n  </tr>\n  <tr>\n    <td><i class=\"fa fa-cc-visa fa-2x\" aria-hidden=\"true\"></i> 4012001037141112</td>\n    <td>Transação Autorizada</td>\n    <td><i class=\"fa fa-check-circle-o fa-1x\" aria-hidden=\"true\"></i> Transação Aprovada</td>\n  </tr>\n</table>\n\n\nObservação: Ao utilizar os cartões de teste, é necessário ter atenção em alguns pontos:\n\n* Utilize uma data de vencimento válida, ou seja, posterior à data atual.\n\n* O nome do portador não deve ter caracteres especiais, como acento e Ç.\n\n* O valor do CVV pode ser qualquer valor numérico com três dígitos.\n\n* Para <b>operações de tipo Débito</b>, deve-se utilizar somente o cartão Visa: 4012001037141112.\n\n### Como usar cartões de teste em compras com parcelamento\nPara testar compras com parcelamento em nosso ambiente de teste, você pode utilizar um dos cartões de teste Mastercard ou Visa disponibilizados. Porém, se optar por um cartão Mastercard, é necessário enviar valores específicos na transação, de acordo com a tabela abaixo:\n\n<table>\n  <caption>Parcelado Lojista Mastercard <i class=\"fa fa-cc-mastercard fa-2x\" aria-hidden=\"true\"></i></caption>\n  <tr>\n    <th>transaction_type</th>\n    <th>number_installments</th>\n    <th>amount</th>\n  </tr>\n  <tr>\n    <td>INSTALL_NO_INTEREST</td>\n    <td>3</td>\n    <td>nnn0303</td>\n  </tr>\n  <tr>\n    <td>INSTALL_NO_INTEREST</td>\n    <td>4</td>\n    <td>nnn0404</td>\n  </tr>\n  <tr>\n    <td>INSTALL_NO_INTEREST</td>\n    <td>5</td>\n    <td>nnn0505</td>\n  </tr>\n  <tr>\n    <td>INSTALL_NO_INTEREST</td>\n    <td>6</td>\n    <td>nnn0606</td>\n  </tr>\n  <tr>\n    <td>INSTALL_WITH_INTEREST</td>\n    <td>3</td>\n    <td>nnn0303</td>\n  </tr>\n  <tr>\n    <td>INSTALL_WITH_INTEREST</td>\n    <td>4</td>\n    <td>nnn0404</td>\n  </tr>\n  <tr>\n    <td>INSTALL_WITH_INTEREST</td>\n    <td>5</td>\n    <td>nnn0505</td>\n  </tr>\n  <tr>\n    <td>INSTALL_WITH_INTEREST</td>\n    <td>6</td>\n    <td>nnn0606</td>\n  </tr>\n\n</table>\n<br>\n<table>\n  <caption>Parcelado Lojista Visa <i class=\"fa fa-cc-visa fa-2x\" aria-hidden=\"true\"></i></caption>\n  <tr>\n    <th>transaction_type</th>\n    <th>number_installments</th>\n    <th>amount</th>\n  </tr>\n  <tr>\n    <td>INSTALL_NO_INTEREST</td>\n    <td>3</td>\n    <td>nnn0303</td>\n  </tr>\n  <tr>\n    <td>INSTALL_NO_INTEREST</td>\n    <td>4</td>\n    <td>nnn0404</td>\n  </tr>\n  <tr>\n    <td>INSTALL_NO_INTEREST</td>\n    <td>5</td>\n    <td>nnn0505</td>\n  </tr>\n  <tr>\n    <td>INSTALL_NO_INTEREST</td>\n    <td>6</td>\n    <td>nnn0606</td>\n  </tr>\n  <tr>\n    <td>INSTALL_WITH_INTEREST</td>\n    <td>2</td>\n    <td>20221</td>\n  </tr>\n  <tr>\n    <td>INSTALL_WITH_INTEREST</td>\n    <td>3</td>\n    <td>30221</td>\n  </tr>\n  <tr>\n    <td>INSTALL_WITH_INTEREST</td>\n    <td>4</td>\n    <td>40221</td>\n  </tr>\n  <tr>\n    <td>INSTALL_WITH_INTEREST</td>\n    <td>5</td>\n    <td>50221</td>\n  </tr>\n</table>\n\nSendo nnn qualquer valor. Essas regras são exclusivas para a bandeira Mastercard em nosso ambiente de teste e não se aplicam ao ambiente produtivo.\n\n# Antifraude\n\nO Antifraude lhe dá melhor visão do comportamento do seu cliente durante a compra, passando segurança ao comprador e a loja virtual em que a operação está acontecendo.\n\nO Antifraude tem um papel importantíssimo para avaliar se as transações que passam pela loja virtual são seguras, além de entregar uma maior rentabilidade para o seu negócio através dos seguintes fatores: melhores vendas, melhor experiência de compra e mínimo de perdas.\n\nTemos um grande diferencial que é a impressão digital de dispositivos (Device Fingerprint), monitoramento de velocidade, mudança de identidade dos dados, score antifraude específico para o segmento do seu negócio, modelos retroalimentados para evolução contínua, inteligência artificial, controle de qualidade e detecção de ataques.\n\nTodas as transações são imediatamente submetidas à análise de fraude por uma infraestrutura robusta que está preparada para grandes volumes de transações e com altíssimo nível de segurança.\n\nDetecte fraudes com facilidade em ambientes online ou no aplicativo e onde quer que seus negócios sejam oferecidos. Você pode melhorar a experiência de compra, fidelizar seu cliente e aumentar a taxa de conversão com facilidade.\n\n###  Integrando ao E-Commerce\n\nA integração do FingerPrinting resume-se a duas etapas :\n\n#### __1. Incluir a chamada__\n\n```javascript\n  <!-- HEAD -->\n  <head>\n  <script type=\"text/javascript\" src=\"https://h.online-metrix.net/fp/tags.js?org_id=1snn5n9w&session_id=123456789\"></script>\n  </head>\n```\nou\n```javascript\n  <!-- BODY -->\n    <body>\n    <noscript>\n    <iframe style=\"width: 100px; height: 100px; border: 0; position:absolute; top: -5000px;\" src=\"https://h.online-metrix.net/fp/tags?org_id=1snn5n9w &session_id=123456789\"></iframe>\n    </noscript>\n    </body>\n```\nEssas chamadas devem ser todas incluídas para darem suporte à diversos tipos de dispositivos que venham a utilizar o E-Commerce.\nA execução dessa chamada é responsável por gerar o <b>deviceFingerprintID</b> na CyberSource.\n\n#### __2. Variáveis <i>\"org_id\" e \"session_id\"</i>__\n\nEssas duas variáveis devem ser passadas de forma obrigatória para ser gerado o <b>FingerPrint</b>.\n\nOnde:\n\n<b>1snn5n9w</b> é o org_id. Este código do org_id é utilizado somente em ambiente de teste da CyberSource. Para o ambiente de produção o org_id utilizado é o <b>k8vif92e</b>.\n\n<b>123456789</b> é o exemplo da session_id. A session_id deve ser composto por um identificador único (por um período de 48 horas) com até 80 caracteres. Como exemplo, pode-se utilizar o identificador do pedido ou tracknumber de seu E-Commerce.\n\nPara o carregamento do script, recomenda-se colocar as <b> chamadas do item 1</b> entre a tag \\<body> ou \\<head>.\n\nInclua apenas elementos HTML visíveis. Os segmentos de código devem ser carregados antes do cliente efetuar o checkout. Os códigos que você precisa colocar na sua página podem ser <b>http ou https</b>.\n\n#### __3. Enviando <i>deviceFingerprintID no checkOut</i>__\n\nNo momento de checkOut, uma informação de campo da API (deviceFingerPrintId) deve ser incluída no Pedido para ser enviado para o CYBS (Gerenciador de Decisão da CyberSource).\n\nCom isso um elemento de página deve ser populado com o identificador exclusivo e único para ser enviado.  O <b>deviceFingerprintID</b> é o session_id reprsentado por <b>123456789</b> no exemplo acima.\n\n```javascript\n  <input type=\"hidden\" name=\"deviceFingerprintID\" value=\"123456789\" />;\n```\n#### __4. Especificação do <i>\"session_id\"</i>__\n\n* Tipo : String\n* Tamanho : Até 80 bytes\n* Dado : Caracteres permitidos [a-z], [A-Z], 0-9, _, -\n\nRecomendamos um hash com no mínimo 12 e no máximo 30 caracteres alfanuméricos (suficiente para que não haja repetição).\n\n###  Dados para análise de Antifraude\n\n#### Campos para análise\n\nPara melhor assertividade na análise do Antifraude, além dos dados comuns da compra que devem ser enviados, é <b>mandatório</b> o preenchimento e envio das seguintes informações:\n\n#### Dados do Dono do Cartão\n\n<table>\n  <tr>\n    <th>Campo</th>\n    <th>Descrição</th>\n    <th>Exemplo</th>\n  </tr>\n  <tr>\n    <td>first_name</td>\n    <td>Primeiro nome do comprador.</td>\n    <td>Luciano</td>\n  </tr>\n  <tr>\n    <td>last_name</td>\n    <td>Último nome do comprador.</td>\n    <td>Santos</td>\n  </tr>\n  <tr>\n    <td>document_number</td>\n    <td>Número do documento do comprador sem pontuação. (sem máscara)</td>\n    <td>01234567890</td>\n  </tr>\n  <tr>\n    <td>email</td>\n    <td>Email do comprador.</td>\n    <td>email.do.portador@dominio.com.br</td>\n  </tr>\n</table>\n\n#### Dados do Endereço de Cobrança do Dono do Cartão\n\n<table>\n  <tr>\n    <th>Campo</th>\n    <th>Descrição</th>\n    <th>Exemplo</th>\n  </tr>\n  <tr>\n    <td>street</td>\n    <td>Logradouro.</td>\n    <td>Av. Paulista</td>\n  </tr>\n  <tr>\n    <td>number</td>\n    <td>Número do logradouro.</td>\n    <td>Santos</td>\n  </tr>\n  <tr>\n    <td>complement</td>\n    <td>Complemento do logradouro.</td>\n    <td>01234567890</td>\n  </tr>\n  <tr>\n    <td>city</td>\n    <td>Cidade.</td>\n    <td>São Paulo</td>\n  </tr>\n  <tr>\n    <td>state</td>\n    <td>Estado (UF).</td>\n    <td>São Paulo</td>\n  </tr>\n  <tr>\n    <td>country</td>\n    <td>País.</td>\n    <td>Brasil</td>\n  </tr>\n  <tr>\n    <td>postal_code</td>\n    <td>Código Postal, CEP no Brasil ou ZIP nos Estados Unidos. (sem máscara)</td>\n    <td>01311300</td>\n  </tr>\n</table>\n\n#### Dados da compra\n\n<table>\n  <tr>\n    <th>Campo</th>\n    <th>Descrição</th>\n    <th>Exemplo</th>\n  </tr>\n  <tr>\n    <td>amount</td>\n    <td>Valor da compra em centavos.</td>\n    <td>100</td>\n  </tr>\n</table>\n\n# API\n\n## Introdução\n\nO objetivo deste documento é descrever a interface das APIs de integração da Plataforma Digital da Getnet com o E-commerce.\n"},"tags":[{"name":"Autenticação","x-displayName":"Autenticação","description":"As API’s listadas nessa documentação utilizam autenticação OAuth2, isso significa que em todas as requisições é necessário informar um token de acesso que será obtido através da autenticação com o seu Client ID e Client Secret.\n"},{"name":"Tokenização","x-displayName":"Tokenização","description":"Para efetuar transações de forma segura o número do cartão deve ser tokenizado previamente em todas as requisições antes de ser trafegado em conjunto com os demais dados, como nome do portador, data de validade e cvv.\n"},{"name":"Cofre","x-displayName":"Cofre","description":"Para efetuar operações relacionadas a armazenamento de cartões no cofre utilize os endpoints descritos abaixo mediante autenticação.\n"},{"name":"Pagamento","x-displayName":"Pagamento","description":"Para efetuar transações relacionadas a pagamento utilize os endpoints descritos abaixo mediante autenticação.\n"},{"name":"Cancelamento","x-displayName":"Cancelamento","description":"Para possibilitar a solicitação de cancelamento de pagamentos com cartões de crédito utilize os endpoints abaixo mediante autenticação.\n"},{"name":"Recorrência","x-displayName":"Recorrência","description":"A criação de um pagamento recorrente da Getnet se dá em três pilares: o cadastro de um cliente que será cobrado, a definição de um plano com valor e periodicidade pré-definida e para concluir, a criação de uma assinatura que vincula ambos. Veja abaixo os endpoints responsáveis para gestão destes três pilares:\n"},{"name":"Clientes","x-displayName":"Clientes","description":"Para possibilitar o cadastro dos clientes para pagamento recorrente em nosso banco de dados utilize os endpoints abaixo mediante autenticação.\n"},{"name":"Planos","x-displayName":"Planos","description":"Para possibilitar o cadastro planos de assinaturas para pagamento recorrente em nosso banco de dados utilize os endpoints abaixo mediante autenticação.\n"},{"name":"Assinaturas","x-displayName":"Assinaturas","description":"Para possibilitar o cadastro de assinaturas,as quais são vínculos entre um cliente e um plano para viabilizar pagamento recorrente utilize os endpoints abaixo mediante autenticação.\n"},{"name":"Tabela de Erros","x-displayName":"Tabela de Erros","description":"Para auxiliar no entendimento dos retornos da API utilize as tabelas abaixo&#58;</br></br></br>\n### Crédito/Débito - 400 Bad Request \n<table>\n  <tr>\n    <th>error_code</th>\n    <th>description</th>\n  </tr>\n  <tr>\n    <td>PAYMENTS-012</td>\n    <td>Valor da entrada maior ou igual ao valor da transação</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-013</td>\n    <td>Valor da parcela inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-015</td>\n    <td>Contatar emissor</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-016</td>\n    <td>NSU inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-019</td>\n    <td>Data de emissão do cartão inválida</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-020</td>\n    <td>Data de vencimento inválida</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-024</td>\n    <td>Transação desfeita</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-025</td>\n    <td>Autenticação inválida</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-026</td>\n    <td>Autorização inválida</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-029</td>\n    <td>Pré-autorização inválida</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-044</td>\n    <td>Erro de formato</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-050</td>\n    <td>Entrar em contato com a instituição</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-051</td>\n    <td>Resposta parametrizada negativa</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-054</td>\n    <td>Pendente de confirmação</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-055</td>\n    <td>Transação cancelada</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-056</td>\n    <td>Transação não permitida neste ciclo</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-058</td>\n    <td>Transação estornada</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-060</td>\n    <td>Cartão obrigatório na transação</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-061</td>\n    <td>Rejeição genérica</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-066</td>\n    <td>Forma de pagamento inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-068</td>\n    <td>Dígito cartão inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-069</td>\n    <td>Transação repetida</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-070</td>\n    <td>Número do cartão não confere</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-072</td>\n    <td>Transação não cancelável</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-073</td>\n    <td>Transação já cancelada</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-078</td>\n    <td>Dados inválidos no cancelamento</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-079</td>\n    <td>Valor cancelamento inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-080</td>\n    <td>Cartão inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-081</td>\n    <td>Excede data</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-082</td>\n    <td>Cancelamento inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-083</td>\n    <td>Use função débito</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-084</td>\n    <td>Use função crédito</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-085</td>\n    <td>Transação já efetuada</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-090</td>\n    <td>Transação não autorizada pelo cartão</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-091</td>\n    <td>Fora do prazo permitido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-093</td>\n    <td>Autorização já encontra-se em processamento</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-094</td>\n    <td>Autorização a confirmar o recebimento</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-098</td>\n    <td>Cliente não cadastrado</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-117</td>\n    <td>Solicite ao portator ligar para o emissor</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-118</td>\n    <td>Cartao invalido ou produto não habilitado</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-999</td>\n    <td>Transacao nao processada</td>\n  </tr>\n</table></br></br></br>\n\n### Crédito/Débito - 402 Business Error\n<table>\n  <tr>\n    <th>error_code</th>\n    <th>description</th>\n  </tr>\n  <tr>\n    <td>PAYMENTS-001</td>\n    <td>Valor não informado</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-002</td>\n    <td>Cartão inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-003</td>\n    <td>Cartão vencido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-004</td>\n    <td>Parâmetro inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-005</td>\n    <td>Código de segurança inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-006</td>\n    <td>Bandeira inválida</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-007</td>\n    <td>Operação não permitida</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-008</td>\n    <td>Dados inválidos</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-009</td>\n    <td>Valor mínimo da parcela inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-010</td>\n    <td>Número de parcelas inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-011</td>\n    <td>Número de parcelas excede limite</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-014</td>\n    <td>Parcelamento não permitido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-022</td>\n    <td>Código de moeda inválido</td>\n  </tr>    \n  <tr>\n    <td>PAYMENTS-023</td>\n    <td>Bandeira não pertece a rede</td>\n  </tr>     \n  <tr>\n    <td>PAYMENTS-030</td>\n    <td>Erro na autenticação do usuário</td>\n  </tr>   \n  <tr>\n    <td>PAYMENTS-032</td>\n    <td>Negada pelo emissor</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-033</td>\n    <td>Estabelecimento inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-034</td>\n    <td>Solicitação não autorizada</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-036</td>\n    <td>Solicite identificação</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-037</td>\n    <td>Transação em andamento</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-038</td>\n    <td>Transação inválida</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-039</td>\n    <td>Valor da transação inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-041</td>\n    <td>Refaça a transação</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-045</td>\n    <td>Cartão restrito</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-046</td>\n    <td>Cartão extraviado</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-047</td>\n    <td>Cartão roubado</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-048</td>\n    <td>Cartão sem registro</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-049</td>\n    <td>Transação não permitida a esse cliente</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-052</td>\n    <td>Transação duplicada</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-053</td>\n    <td>Cartão bloqueado</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-067</td>\n    <td>Valor limite excedido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-077</td>\n    <td>Número do cartão inválido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-096</td>\n    <td>Crédito excedido</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-101</td>\n    <td>Autorizadora offline</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-102</td>\n    <td>Cliente sem limite de crédito</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-103</td>\n    <td>Transação não autorizada pela rede autorizadora</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-104</td>\n    <td>Erro de integração</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-105</td>\n    <td>Transação não autorizada</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-109</td>\n    <td>Existe transação a confirmar</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-112</td>\n    <td>Documento inexistente para cancelar</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-113</td>\n    <td>Saldo Insuficiente</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-114</td>\n    <td>Excede o Limite de Valor de Aprovação</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-115</td>\n    <td>Excede o Limite de Frequência de Retiradas</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-116</td>\n    <td>Autorização recusada</td>\n  </tr>\n</table></br></br></br>\n\n### Crédito/Débito - 404 Not Found\n<table>\n <tr>\n   <th>error_code</th>\n   <th>description</th>\n </tr>\n <tr>\n    <td>PAYMENTS-043</td>\n    <td>Registro não encontrado</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-057</td>\n    <td>Transação não existe</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-076</td>\n    <td>Transação não disponível</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-095</td>\n    <td>Autorização não encontrada</td>\n  </tr>\n</table></br></br></br>\n\n### Crédito/Débito - 500 Internal Server Error\n<table>\n  <tr>\n    <th>error_code</th>\n    <th>description</th>\n  </tr>\n  <tr>\n    <td>PAYMENTS-042</td>\n    <td>Resposta inválida</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-059</td>\n    <td>Problema rede local</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-062</td>\n    <td>Instituição temporariamente fora de operação</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-063</td>\n    <td>Mal funcionamento do sistema</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-064</td>\n    <td>Erro banco de dados</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-071</td>\n    <td>Autorizadora temporariamente bloqueada</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-086</td>\n    <td>Erro na transação</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-099</td>\n    <td>Autorizadora não inicializada</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-100</td>\n    <td>Canal desconectado</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-107</td>\n    <td>Erro de comunicação</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-500</td>\n    <td>Internal Server Error</td>\n  </tr>\n</table></br></br></br>\n\n### Crédito/Débito - 503 Service Unavailable\n<table>\n  <tr>\n    <th>error_code</th>\n    <th>description</th>\n  </tr>\n  <tr>\n    <td>PAYMENTS-021</td>\n    <td>Sistema do Emissor indisponível - Tente novamente</td>\n  </tr>\n</table></br></br></br>\n\n### Crédito/Débito - 504 Gateway Timeout \n<table>\n  <tr>\n    <th>error_code</th>\n    <th>description</th>\n  </tr>\n  <tr>\n    <td>PAYMENTS-031</td>\n    <td>Timeout</td>\n  </tr>\n  <tr>\n    <td>PAYMENTS-089</td>\n    <td>Timeout interno</td>\n  </tr>\n</table></br></br></br>\n\n### Boleto - 402 Business Error\n<table style=\"width: 100%\">\n  <tr>\n    <th>error_code</th>\n    <th>description_detail</th>\n  </tr>\n  <tr>\n    <td width=\"25%\" rowspan=\"31\">PAYMENTS-402</td>\n    <td>00001 - Nosso número inválido/incompatível</td>\n  </tr>\n  <tr>\n    <td>00007 - Espécie do documento inválida</td>\n  </tr>\n  <tr>\n    <td>00016 - Data de vencimento inválida</td>\n  </tr>\n  <tr>\n    <td>00057 - CEP do sacado incorreto</td>\n  </tr>\n  <tr>\n    <td>00058 - CPF/CNPJ incorreto</td>\n  </tr>\n  <tr>\n    <td>00093 - Valor do título não informado</td>\n  </tr>\n  <tr>\n    <td>00098 - Data emissão inválida</td>\n  </tr>\n  <tr>\n    <td>00100 - Data emissão maior que a data vencimento</td>\n  </tr>\n  <tr>\n    <td>00102 - Endereço do sacado não informado</td>\n  </tr>\n  <tr>\n    <td>00103 - Município do sacado não informado</td>\n  </tr>\n  <tr>\n    <td>00107 - Unidade da federação incorreta</td>\n  </tr>\n  <tr>\n    <td>00113 - Valor desconto inválido</td>\n  </tr>\n  <tr>\n    <td>00124 - CEP do sacado não encontrado</td>\n  </tr>\n  <tr>\n    <td>00128 - Código protesto inválido</td>\n  </tr>\n  <tr>\n    <td>00145 - Tipo de documento inválido</td>\n  </tr>\n  <tr>\n    <td>00147 - Quantidade de dias para protesto inválido</td>\n  </tr>\n  <tr>\n    <td>00160 - Bairro do sacado não informado</td>\n  </tr>\n  <tr>\n    <td>00176 - Registro não encontrado</td>\n  </tr>\n  <tr>\n    <td>00422 - Certificado inconsistente</td>\n  </tr>\n  <tr>\n    <td>00423 - Estação não é do convênio</td>\n  </tr>\n  <tr>\n    <td>00424 - Convênio não marcado para troca de mensagem para entrada online</td>\n  </tr>\n  <tr>\n    <td>00425 - Ambiente marcado como teste e NSU não é de teste</td>\n  </tr>\n  <tr>\n    <td>00426 - Ambiente marcado como produção com NSU de teste</td>\n  </tr>\n  <tr>\n    <td>00427 - Código estação não pertence ao convênio</td>\n  </tr>\n  <tr>\n    <td>00428 - Convênio não está ativo</td>\n  </tr>\n  <tr>\n    <td>00429 - Tipo desconto inválido</td>\n  </tr>\n  <tr>\n    <td>00430 - Isento com valor de desconto</td>\n  </tr>\n  <tr>\n    <td>00431 - Campo nosso número não numérico</td>\n  </tr>\n  <tr>\n    <td>00432 - Cliente não possui entrada online</td>\n  </tr>\n  <tr>\n    <td>00433 - Data limite desconto inválida</td>\n  </tr>\n</table>"}],"paths":{"/auth/oauth/v2/token":{"post":{"summary":"Geração do token de acesso","description":"Endpoint responsável pela geração do token de acesso utilizado nas demais requisições, para isso utilizamos [HTTP Basic Authentication](https://www.w3.org/Protocols/HTTP/1.0/draft-ietf-http-spec.html#BasicAA)","tags":["Autenticação"],"consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/x-www-form-urlencoded"],"default":"application/x-www-form-urlencoded","description":"Tipo do conteúdo padrão application/x-www-form-urlencoded.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Basic *AuthString* </br> Onde *AuthString* é a concatenação do seu Client ID, seguido de “:” (dois pontos) mais seu Client Secret, convertidos para base64. <br> Como exemplo: Para o Client ID igual a client-01 e Client Secret igual a secret-key-02, teremos o texto client-01:secret-key-02 após a concatenação, convertendo para base64 teremos o resultado 2xpZW50LTAxOnNlY3JldC1rZXktMDI=.</br> Neste caso o  Authorization no header da requisição será: </br> Authorization: Basic 2xpZW50LTAxOnNlY3JldC1rZXktMDI=\n"},{"in":"formData","required":true,"type":"string","name":"scope","description":"Usar o valor fixo \"oob\"","default":"oob"},{"in":"formData","required":true,"type":"string","name":"grant_type","description":"Usar O valor fixo \"client_credentials\"","default":"client_credentials"}],"responses":{"200":{"description":"Retorna o token de acesso.","schema":{"type":"object","properties":{"access_token":{"type":"string","description":"Token de acesso a API para envio em todas as requisições","example":"ca22a2ge-1914-4b0c-a0fb-d3ce0fde7346","format":"uuidv4","minLength":36,"maxLength":36},"token_type":{"type":"string","description":"Tipo do token, deve ser enviado no header junto do token (https://tools.ietf.org/html/rfc6750)","example":"Bearer"},"expires_in":{"type":"number","description":"Tempo de expiração do token em segundos","example":3600},"scope":{"type":"string","description":"Escopo do token","example":"oob"}}}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error_authentication"}},"401":{"description":"Não autorizado.","schema":{"$ref":"#/definitions/error_authentication"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/auth/oauth/v2/token \\\n-H 'authorization: Basic 2xpZW50LTAxOnNlY3JldC1rZXktMDI=' \\\n-H 'content-type: application/x-www-form-urlencoded' \\\n-d 'scope=oob&grant_type=client_credentials'\n"}]}},"/v1/tokens/card":{"post":{"summary":"Geração do token do cartão","description":"Para efetuar transações de forma segura os dados do cartão, exceto CVV, devem ser *tokenizados*, esse processo é feito pelo endpoint descrito abaixo mediante autenticação.","tags":["Tokenização"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/json"],"default":"application/json","description":"Tipo do conteúdo application/json.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n"},{"in":"header","name":"seller_id","required":false,"type":"string","description":"Authorization: Código de identificação do e-commerce. Obrigatório quando o cliente for tratado como Plataforma.\n","format":"uuidv4","minLength":36,"maxLength":36},{"in":"body","name":"token_card","description":"Dados do cartão e do comprador","schema":{"type":"object","required":["card_number"],"properties":{"card_number":{"type":"string","description":"Número do cartão","minLength":13,"maxLength":19,"example":"5155901222280001"},"customer_id":{"type":"string","description":"Identificador do comprador. Informação definida pela aplicação que consome a api da Plataforma Digital.","example":"customer_21081826","maxLength":100}}}}],"responses":{"201":{"description":"Retorna o token do cartão.","schema":{"type":"object","properties":{"number_token":{"type":"string","description":"Token do cartão que será utilizado nas transações. Caso a resposta HTTP contenha o header \"Content-Encoding:gzip\" (<a href=\"https://www.ietf.org/rfc/rfc2616.txt\"> RFC 2616 tópico 14.11 Content-Encoding </a>) a resposta deve passar por um processo de descompactação, dependendo da tecnologia utilizada para integração será necessário a utilização de uma biblioteca de terceiros.","example":"dfe05208b105578c070f806c80abd3af09e246827d29b866cf4ce16c205849977c9496cbf0d0234f42339937f327747075f68763537b90b31389e01231d4d13c","minLength":128,"maxLength":128}}}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/tokens/card \\\n-H 'authorization: Bearer ca22a2ge-1914-4b0c-a0fb-d3ce0fde7346' \\\n-H 'content-type: application/json' \\\n-d '{\n  \"card_number\": \"5155901222280001\"\n}'\n"}]}},"/v1/cards/verification":{"post":{"summary":"Verificação de cartão","description":"O objetivo da transação de verificação de cartão de crédito é verificar se o cartão de crédito informado pelo portador é um cartão válido. Entende-se como um cartão crédito válido um cartão que não está cancelado, bloqueado ou com restrições. A verificação de cartão está disponível somente para as bandeiras Mastercard e Visa.","tags":["Pagamento"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/json"],"default":"application/json","description":"Tipo do conteúdo application/json.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n"},{"in":"header","name":"seller_id","required":false,"type":"string","description":"Authorization: Código de identificação do e-commerce. Obrigatório quando o cliente for tratado como Plataforma.\n","format":"uuidv4","minLength":36,"maxLength":36},{"in":"body","name":"verification_card_body","required":true,"description":"Requisição contendo os dados de cartão para verificação.","schema":{"$ref":"#/definitions/verification_card_body"}}],"responses":{"200":{"description":"Verificação de cartão executada com sucesso.","schema":{"type":"object","properties":{"status":{"type":"string","description":"Status da verificação do cartão, onde VERIFIED é o indicativo de que o cartão foi validado com sucesso.","enum":["VERIFIED","NOT VERIFIED"],"example":"VERIFIED","minLength":5,"maxLength":20},"verification_id":{"type":"string","format":"uuidv4","description":"Identificação do pedido de verificação na plataforma digital.","example":"ae267804-503c-4163-b1b1-f5da5120b74e","minLength":36,"maxLength":36},"authorization_code":{"type":"string","description":"Número de autorização gerado pelo sistema de verificação de cartão.","example":"6964722471672911","minLength":1,"maxLength":18}}}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/cards/verification \\\n-H 'authorization: Bearer 4d98da5d-767b-4db6-b581-b664e829bd41' \\\n-H 'content-type: application/json' \\\n-d '\n{\n  \"number_token\": \"3fdb3ac9a6def80bf64cd241b9035e77ed8757032d356718864d03465a1130e20d8a897005e144dd6c1a5b4e63fcc99d3755f9e18a7cd852ad82778c65008988\",\n  \"brand\":\"mastercard\",\n  \"cardholder_name\": \"JOAO DA SILVA\",\n  \"expiration_month\" : \"10\",\n  \"expiration_year\" : \"18\",\n  \"security_code\" : \"123\"\n}'\n"}]}},"/v1/cards":{"post":{"summary":"Armazena os dados de cartão do consumidor no cofre","description":"Cria um recurso cards dentro da plataforma digital Getnet a partir dos dados de cartão do consumidor, para uso em pagamentos futuros.","tags":["Cofre"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/json"],"default":"application/json","description":"Tipo do conteúdo application/json.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n"},{"in":"header","name":"seller_id","required":false,"type":"string","description":"Authorization: Código de identificação do e-commerce.\n","format":"uuidv4","minLength":36,"maxLength":36},{"in":"body","name":"vault_card_body","required":true,"description":"Requisição contendo os dados de cartão para salvamento no cofre.","schema":{"$ref":"#/definitions/vault_card"}}],"responses":{"201":{"description":"Identificador do cartão criado com sucesso. Cartão salvo no cofre.","schema":{"type":"object","properties":{"card_id":{"type":"string","description":"Identificador do cartão salvo no cofre, pode ser utilizado para recuperar um number_token valido para futuras compras, como também pode ser utilizado para remover cartões salvos.","example":"e8ad2ae4-9e3e-4532-998f-1a5a11e56e58","format":"uuidv4","minLength":36,"maxLength":36},"number_token":{"type":"string","description":"Token do cartão que será utilizado nas transações.","example":"dfe05208b105578c070f806c80abd3af09e246827d29b866cf4ce16c205849977c9496cbf0d0234f42339937f327747075f68763537b90b31389e01231d4d13c","minLength":128,"maxLength":128}}}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"403":{"description":"Produto cofre não habilitado.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/cards \\\n-H 'authorization: Bearer ca22a2ge-1914-4b0c-a0fb-d3ce0fde7346' \\\n-H 'content-type: application/json' \\\n-d '{\n      \"number_token\": \"dfe05208b105578c070f806c80abd3af09e246827d29b866cf4ce16c205849977c9496cbf0d0234f42339937f327747075f68763537b90b31389e01231d4d13c\",\n      \"cardholder_name\": \"JOAO DA SILVA\",\n      \"expiration_month\": \"12\",\n      \"expiration_year\": \"20\",\n      \"customer_id\": \"customer_21081826\",\n      \"cardholder_identification\": \"12345678912\"\n    }'\n"}]},"get":{"summary":"Lista de cartões salvos no cofre","description":"Retorna uma lista de cartões salvos com base nos dados de identificação do comprador  - customer_id.","tags":["Cofre"],"produces":["application/json"],"parameters":[{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"in":"header","name":"seller_id","required":false,"type":"string","description":"Authorization: Código de identificação do e-commerce. Obrigatório quando o cliente for tratado como Plataforma.\n","format":"uuidv4","minLength":36,"maxLength":36},{"required":true,"description":"Identificador do comprador. Informação definida pela aplicação que consome a api da Plataforma Digital.","type":"string","name":"customer_id","maxLength":100,"in":"query"},{"required":false,"description":"Filtro de status dos cartões retornados. Caso não seja informado nenhum filtro, serão retornados os cartões ativos e renovados.","enum":["all","active","renewed"],"type":"string","name":"status","maxLength":25,"in":"query"}],"responses":{"200":{"description":"Lista de cartões salvos.","schema":{"type":"object","properties":{"cards":{"type":"array","items":{"$ref":"#/definitions/vault_card_response"}}}}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"403":{"description":"Produto cofre não habilitado.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X GET \\ https://api-homologacao.getnet.com.br/v1/cards?customer_id=customer_21081826 \\ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc'\n"}]}},"/v1/cards/{card_id}":{"get":{"summary":"Recupera um cartão salvo no cofre","description":"Obtém os dados do cartão salvo no cofre, a partir do card_id gerado no momento do armazenamento do cartão.","tags":["Cofre"],"produces":["application/json"],"parameters":[{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"in":"header","name":"seller_id","required":false,"type":"string","description":"Authorization: Código de identificação do e-commerce. Obrigatório quando o cliente for tratado como Plataforma.\n","format":"uuidv4","minLength":36,"maxLength":36},{"required":true,"description":"Identificador único do cartão na plataforma digital Getnet.","type":"string","name":"card_id","maxLength":36,"in":"path"}],"responses":{"200":{"description":"Dados do cartão.","schema":{"$ref":"#/definitions/vault_card_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"403":{"description":"Produto cofre não habilitado.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"\ncurl -X GET \\ https://api-homologacao.getnet.com.br/v1/cards/14a2ce5d-ebc3-49dc-a516-cb5239b02285 \\ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc'\n"}]},"delete":{"summary":"Remove um cartão salvo no cofre","description":"Remove um cartão salvo na plataforma digital Getnet, a partir do card_id.","tags":["Cofre"],"produces":["application/json"],"parameters":[{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"in":"header","name":"seller_id","required":false,"type":"string","description":"Authorization: Código de identificação do e-commerce. Obrigatório quando o cliente for tratado como Plataforma.\n","format":"uuidv4","minLength":36,"maxLength":36},{"required":true,"description":"Identificador único do cartão na plataforma digital Getnet.","type":"string","name":"card_id","maxLength":36,"in":"path"}],"responses":{"204":{"description":"Cartão removido com sucesso."},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"403":{"description":"Produto cofre não habilitado.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Recurso não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X DELETE \\ https://api-homologacao.getnet.com.br/v1/cards/14a2ce5d-ebc3-49dc-a516-cb5239b02285 \\ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc'\n"}]}},"/v1/payments/credit":{"post":{"summary":"Pagamento com cartão de crédito","description":"Nesse endpoint serão recebidos dados para pagamento com cartão de crédito. </br> </br>\nPara o os campos delayed, authenticated e pre_authorization, somente um deles podem estar com valor true, indicando assim somente um serviço de crédito a ser processado.","tags":["Pagamento"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/json"],"default":"application/json","description":"Tipo do conteúdo application/json.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Bearer *AuthString* </br>\nOnde *AuthString* é token de acesso obtido no endpoint de autenticação.\n"},{"in":"body","name":"credit_body","required":true,"description":"Requisição contendo os dados para pagamento com cartão de crédito e análise de fraude.","schema":{"$ref":"#/definitions/payment_credit"}}],"responses":{"200":{"description":"Pagamento efetuado com sucesso. Transação aprovada.","schema":{"$ref":"#/definitions/payment_credit_response"}},"201":{"description":"Pagamento criado com sucesso.","schema":{"$ref":"#/definitions/payment_authenticated_response"}},"202":{"description":"Solicitação de pagamento de crédito com confirmação tardia ou pré autorização recebida, aceita e armazenada esperando confirmação.","schema":{"$ref":"#/definitions/payment_credit_pre_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error_credit"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error_credit"}},"402":{"description":"Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.","schema":{"$ref":"#/definitions/error_credit"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error_credit"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error_credit"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/payments/credit \\\n-H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\\n-d '{\n  \"seller_id\": \"6eb2412c-165a-41cd-b1d9-76c575d70a28\",\n  \"amount\": 100,\n  \"currency\": \"BRL\",\n  \"order\": {\n    \"order_id\": \"6d2e4380-d8a3-4ccb-9138-c289182818a3\",\n    \"sales_tax\": 0,\n    \"product_type\": \"service\"\n  },\n  \"customer\": {\n    \"customer_id\": \"customer_21081826\",\n    \"first_name\": \"João\",\n    \"name\": \"João da Silva\",\n    \"email\": \"customer@email.com.br\",\n    \"document_type\": \"CPF\",\n    \"phone_number\": \"5551999887766\",\n    \"billing_address\": {\n      \"street\": \"Av. Brasil\",\n      \"number\": \"1000\",\n      \"complement\": \"Sala 1\",\n      \"district\": \"São Geraldo\",\n      \"city\": \"Porto Alegre\",\n      \"state\": \"RS\",\n      \"country\": \"Brasil\",\n      \"postal_code\": \"90230060\"\n    }\n  },\n  \"credit\": {\n    \"delayed\": false,\n    \"save_card_data\": false,\n    \"transaction_type\": \"FULL\",\n    \"number_installments\": 1,\n    \"soft_descriptor\": \"LOJA*TESTE*COMPRA-123\",\n    \"dynamic_mcc\": 1799,\n    \"card\": {\n      \"number_token\": \"dfe05208b105578c070f806c80abd3af09e246827d29b866cf4ce16c205849977c9496cbf0d0234f42339937f327747075f68763537b90b31389e01231d4d13c\",\n      \"bin\": \"123412\",\n      \"security_code\": \"123\",\n      \"expiration_month\": \"12\",\n      \"expiration_year\": \"20\",\n      \"cardholder_name\": \"JOAO DA SILVA\"\n    }\n  }\n}'\n"}]}},"/v1/payments/credit/{payment_id}/confirm":{"post":{"summary":"Confirmação tardia de pagamento ou confirmação de pré autorização com cartão de crédito","description":"Quando uma transação de crédito é feita com a opção delayed = true ou pre_authorization = true, confirmação tardia ou pré autorização, respectivamente, ela pode ser posteriormente confirmada, este endpoint é responsável pela confirmação.","tags":["Pagamento"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/json"],"default":"application/json","description":"Tipo do conteúdo application/json.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n"},{"in":"path","name":"payment_id","description":"Identificador do pagamento previamente recebido e aceito.","type":"string","minLength":36,"maxLength":36,"format":"uuidv4","required":true},{"in":"body","name":"body","description":"Requisição contendo os dados para uma solicitação de confirmação de crédito tardio ou pré autorizado.","schema":{"$ref":"#/definitions/credit_confirm"},"required":false}],"responses":{"200":{"description":"Pagamento confirmado com sucesso.","schema":{"$ref":"#/definitions/credit_delayed_confirm"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"402":{"description":"Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/payments/credit/06f256c8-1bbf-42bf-93b4-ce2041bfb87e/confirm \\\n-H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\\n-H 'cache-control: no-cache' \\\n-H 'content-type: application/json' \\\n"}]}},"/v1/payments/credit/{payment_id}/authenticated/finalize":{"post":{"summary":"Finalização de pagamento autenticado com cartão de crédito","description":"Finaliza a transação de crédito autenticado.","tags":["Pagamento"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/json"],"default":"application/json","description":"Tipo do conteúdo application/json.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n"},{"in":"path","name":"payment_id","description":"Identificador do pagamento previamente recebido e aceito.","type":"string","minLength":36,"maxLength":36,"format":"uuidv4","required":true},{"in":"body","name":"credit_finalize_body","required":true,"description":"Requisição contendo os dados para finalização de pagamento com cartão de crédito autenticado.","schema":{"$ref":"#/definitions/payment_credit_finalize"}}],"responses":{"200":{"description":"Pagamento confirmado com sucesso.","schema":{"$ref":"#/definitions/payment_credit_finalize_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"402":{"description":"Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/payments/credit/6eb2412c-165a-41cd-b1d9-76c575d70a28/authenticated/finalize \\\n-H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\\n-H 'cache-control: no-cache' \\\n-H 'content-type: application/json' \\\n"}]}},"/v1/payments/credit/{payment_id}/adjustment":{"post":{"summary":"Ajustar valor de uma transação de pré autorização","description":"Executa um ajuste (Incremento/Decremento) no valor previamente reservado no saldo do Portador por uma Transação de Pré-Autorização. O valor da Transação de Ajuste de Pré-Autorização pode ser maior ou menor que o valor original. Na chamada do processo de ajuste sempre deve ser enviado o valor final desejado no campo de amount.","tags":["Pagamento"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/json"],"default":"application/json","description":"Tipo do conteúdo application/json.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n"},{"in":"path","name":"payment_id","description":"Identificador do pagamento previamente recebido e aceito.","type":"string","minLength":36,"maxLength":36,"format":"uuidv4","required":true},{"in":"body","name":"body","description":"Requisição contendo os dados para uma solicitação de ajuste de valor de uma Pré-Autorização.","schema":{"$ref":"#/definitions/credit_preauthorized_adjustment"},"required":true}],"responses":{"200":{"description":"Ajuste realizado com sucesso.","schema":{"$ref":"#/definitions/credit_preauthorized_adjustment_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"402":{"description":"Requisição é válida mas o ajuste foi negado. Pode ser negado por vários motivos / regras de negócios.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/payments/credit/06f256c8-1bbf-42bf-93b4-ce2041bfb87e/adjustment \\\n-H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\\n-H 'cache-control: no-cache' \\\n-H 'content-type: application/json' \\ -d '{\n  \"amount\": 19990,\n  \"currency\": \"BRL\",\n  \"dynamic_mcc\": 6666,\n  \"soft_descriptor\": \"LOJA*TESTE*COMPRA-123\"\n}'\n"}]}},"/v1/payments/credit/{payment_id}/cancel":{"post":{"summary":"Cancelar pagamento no cartão de crédito","description":"Cancelar uma transação de crédito completa ou transação de crédito tardia ou transação de pré autorização.\n\n* Estorna ou desfaz transações feitas no mesmo dia (D0).","tags":["Pagamento"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/json"],"default":"application/json","description":"Tipo do conteúdo application/json.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n"},{"in":"path","name":"payment_id","description":"Identificador do pagamento previamente recebido e aceito.","type":"string","minLength":36,"maxLength":36,"format":"uuidv4","required":true}],"responses":{"200":{"description":"Pagamento cancelado com sucesso.","schema":{"$ref":"#/definitions/credit_delayed_cancel"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"402":{"description":"Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/payments/credit/06f256c8-1bbf-42bf-93b4-ce2041bfb87e/cancel \\\n-H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\\n-H 'cache-control: no-cache' \\\n-H 'content-type: application/json' \\\n"}]}},"/v1/payments/debit":{"post":{"summary":"Pagamento com cartão de débito","description":"Nesse endpoint serão recebidos dados para pagamento com cartão de débito.\n\n### Fluxo Transação de Débito Autenticado\n<br> ![Fluxo Transação Débito Autenticado](/img/fluxodebitoautenticado.png) <br> <br> <br>\n<ol type=\"1\"> <li>Pagamento com cartão de débito (Requisição da transação de débito autenticado).</li> <li>Enviar requisição da transação de débito para a Plataforma Digital Getnet – Verificação 3D Secure</li> <li>Resposta da transação de débito – Verificação 3D Secure, neste passo são retornados alguns atributos:</li> <ol type=\"a\">\n <li><b>payment_id</b>: identificador único do pagamento gerado pela Plataforma Digital Getnet, será utilizando no passo 9 da transação.</li>\n <li><b>redirect_url</b>: URL gerada pelo emissor, deve ser chamada no passo 5 da transação</li>\n <li><b>post_data.issuer_payment_id</b>: identificador do pagamento gerado pelo emissor, será enviado no passo 5 da transação</li>\n <li><b>post_data.payer_authentication_request</b>: dado referente a transação, gerado no formato Base64-encoded pelo emissor, será enviado no passo 5 da transação</li>\n</ol> <li>Resposta da transação para o device do consumidor</li> <li>Executar um redirecionamento, enviando uma requisição HTTP POST para a URL do atributo <b>redirect_url</b> retornado no passo 3 da transação. Para o request, você deve enviar as seguintes informações no header e no body da requisição:</li> <ol type=\"a\"> <li><b>No Header</b></li> <ol type=\"i\"> <li><b>Content-Type</b>: application/x-www-form-urlencoded</li> </ol> <li><b>No Body</b></li> <ol type=\"i\"> <li><b>MD</b>: referente ao atributo <b>post_data.issuer_payment_id</b> retornado no passo 3 da transação.</li> <li><b>PaReq</b>: referente ao atributo <b>post_data.payer_authentication_request</b> retornado no passo 3 da transação.</li> <li><b>TermUrl</b>: Sua URL, responsável por receber o PaRes por parte do emissor, conforme descrito no passo 8 da transação</li> </ol> </ol> <li>Emissor responde a requisição enviando um formulário para autenticação do portador</li> <li>Portador preenche o formulário com as informações solicitadas e envia para a validação do emissor</li> <li>Emissor responde enviando um POST HTTP para a URL informada no atributo TermUrl do passo 5 da transação. Nesta requisição, o emissor enviará dois atributos:</li> <ol type=\"a\"> <li><b>MD</b>: retorno do atributo MD enviado no passo 5 da transação</li> <li><b>PaRes</b>: autorização de pagamento retornada pelo emissor, será utilizado no passo 9 da transação</li> </ol> <li>A aplicação recebe a requisição do emissor e envia uma solicitação de finalização da transação de débito (<a href=\"/api#tag/Pagamento%2Fpaths%2F~1v1~1payments~1debit~1%7Bpayment_id%7D~1authenticated~1finalize%2Fpost\">Finalização de pagamento autenticado com cartão de débito</a>)</li> </ol>","tags":["Pagamento"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/json"],"default":"application/json","description":"Tipo do conteúdo application/json.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Bearer *AuthString* </br>\nOnde *AuthString* é token de acesso obtido no endpoint de autenticação.\n"},{"in":"body","name":"debit_body","required":true,"description":"Requisição contendo os dados para pagamento com cartão de débito e análise de fraude.","schema":{"$ref":"#/definitions/payment_debit"}}],"responses":{"201":{"description":"Pagamento criado com sucesso.","schema":{"$ref":"#/definitions/payment_authenticated_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error_debit"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error_debit"}},"402":{"description":"Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.","schema":{"$ref":"#/definitions/error_debit"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error_debit"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error_debit"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/payments/debit \\\n-H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\\n-d '{\n\"seller_id\": \"6eb2412c-165a-41cd-b1d9-76c575d70a28\",\n\"amount\": 100,\n\"currency\": \"BRL\",\n\"order\": {\n  \"order_id\": \"6d2e4380-d8a3-4ccb-9138-c289182818a3\",\n  \"sales_tax\": 0,\n  \"product_type\": \"service\"\n},\n\"customer\": {\n  \"customer_id\": \"customer_21081826\",\n  \"first_name\": \"João\",\n  \"name\": \"João Silva\",\n  \"document_type\": \"CPF\",\n  \"document_number\": \"12345678912\",\n  \"phone_number\": \"5551999887766\",\n  \"billing_address\": {\n    \"street\": \"Av. Brasil\",\n    \"complement\": \"Sala 1\",\n    \"number\": \"1000\",\n    \"district\": \"São Geraldo\",\n    \"city\": \"Porto Alegre\",\n    \"state\": \"RS\",\n    \"country\": \"Brasil\",\n    \"postal_code\": \"90230060\"\n  }\n},\n\"device\": {\n  \"ip_address\": \"127.0.0.1\",\n  \"device_id\": \"hash-device-id\"\n},\n\"shippings\": [{\n  \"first_name\": \"João\",\n  \"name\": \"João da Silva\",\n  \"email\": \"customer@email.com.br\",\n  \"phone_number\": \"5551999887766\",\n  \"shipping_amount\": 3000,\n  \"address\": {\n    \"street\": \"Av. Brasil\",\n    \"complement\": \"Sala 1\",\n    \"number\": \"1000\",\n    \"district\": \"São Geraldo\",\n    \"city\": \"Porto Alegre\",\n    \"state\": \"RS\",\n    \"country\": \"Brasil\",\n    \"postal_code\": \"90230060\"\n  }\n}],\n\"debit\": {\n  \"cardholder_mobile\": \"5551999887766\",\n  \"soft_descriptor\": \"LOJA*TESTE*COMPRA-123\",\n  \"dynamic_mcc\": 1799,\n  \"card\": {\n    \"number_token\": \"dfe05208b105578c070f806c80abd3af09e246827d29b866cf4ce16c205849977c9496cbf0d0234f42339937f327747075f68763537b90b31389e01231d4d13c\",\n    \"security_code\": \"123\",\n    \"expiration_month\": \"12\",\n    \"expiration_year\": \"20\",\n    \"cardholder_name\": \"JOAO DA SILVA\"\n  }\n  }\n}'\n"}]}},"/v1/payments/debit/{payment_id}/authenticated/finalize":{"post":{"summary":"Finalização de pagamento autenticado com cartão de débito","description":"Finaliza a transação de débito autenticado.","tags":["Pagamento"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/json"],"default":"application/json","description":"Tipo do conteúdo application/json.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n"},{"in":"path","name":"payment_id","description":"Identificador do pagamento previamente recebido e aceito.","type":"string","minLength":36,"maxLength":36,"format":"uuidv4","required":true},{"in":"body","name":"debit_confirm_body","required":true,"description":"Requisição contendo os dados para confirmação de pagamento com cartão de débito.","schema":{"$ref":"#/definitions/payment_debit_confirm"}}],"responses":{"200":{"description":"Pagamento confirmado com sucesso.","schema":{"$ref":"#/definitions/payment_debit_confirm_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"402":{"description":"Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/payments/debit/6eb2412c-165a-41cd-b1d9-76c575d70a28/authenticated/finalize \\\n-H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\\n-H 'cache-control: no-cache' \\\n-H 'content-type: application/json' \\\n"}]}},"/v1/payments/boleto":{"post":{"summary":"Registro para pagamento com boleto","description":"Nesse endpoint serão recebidos os dados do novo boleto, que será registrado no Banco Santander.  <br> <br> <b> Impressão da segunda via de um boleto</b>  <br><br> No registro de um pagamento com boleto é retornado o campo payment_id na resposta da requisição de registro. O payment_id será utilizado para a requisição de download da segunda via do boleto nas requisições <a  href=\"https://developers.getnet.com.br/api#tag/Pagamento%2Fpaths%2F~1v1~1payments~1boleto~1%7Bpayment_id%7D~1pdf%2Fget\"> Download pdf do boleto</a> ou <a  href=\"https://developers.getnet.com.br/api#tag/Pagamento%2Fpaths%2F~1v1~1payments~1boleto~1%7Bpayment_id%7D~1html%2Fget\"> Download html do boleto</a> <br> <br> <b>Observação&#58;</b> No callback de Registro de boleto também pode ser recuperado o campo payment_id. Mais informações sobre callback estão disponíveis no <a  href=\"https://developers.getnet.com.br/faq\">FAQ \"Como receber status das transações via callback?\"</a>","tags":["Pagamento"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Content-type","required":true,"type":"string","enum":["application/json"],"default":"application/json","description":"Tipo do conteúdo application/json.\n"},{"in":"header","name":"Authorization","required":true,"type":"string","description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n"},{"in":"body","name":"boleto_body","required":true,"description":"Requisição contendo os dados para pagamento com boleto.","schema":{"$ref":"#/definitions/payment_boleto"}}],"responses":{"201":{"description":"Boleto emitido com sucesso.","schema":{"$ref":"#/definitions/payment_boleto_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"402":{"description":"Requisição é válida mas pagamento negado. Pode ser negado por vários motivos / regras de negócios.","schema":{"$ref":"#/definitions/error_boleto_402"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/payments/boleto \\\n-H 'authorization: Bearer 151f3061-d162-41c0-a3e7-474c49e60f57' \\\n-H 'cache-control: no-cache' \\\n-H 'content-type: application/json' \\\n-d '{\n      \"seller_id\": \"6eb2412c-165a-41cd-b1d9-76c575d70a28\",\n      \"amount\": 100,\n      \"currency\": \"BRL\",\n      \"order\": {\n        \"order_id\": \"6d2e4380-d8a3-4ccb-9138-c289182818a3\",\n        \"sales_tax\": 0,\n        \"product_type\": \"service\"\n      },\n      \"boleto\": {\n        \"our_number\": \"000001946598\",\n        \"document_number\": \"170500000019763\",\n        \"instructions\": \"Pagar até o vencimento\",\n        \"provider\": \"santander\",\n        \"expiration_date\": \"10/05/2018\"\n      },\n      \"customer\": {\n        \"first_name\": \"João\",\n        \"name\": \"João da Silva\",\n        \"document_type\": \"CPF\",\n        \"document_number\": \"12345678912\",\n        \"billing_address\": {\n          \"street\": \"Av. Brasil\",\n          \"number\": \"1000\",\n          \"complement\": \"Sala 1\",\n          \"district\": \"São Geraldo\",\n          \"city\": \"Porto Alegre\",\n          \"state\": \"RS\",\n          \"country\": \"Brasil\",\n          \"postal_code\": \"90230060\"\n        }\n      }\n    }\n"}]}},"/v1/payments/boleto/{payment_id}/pdf":{"get":{"summary":"Download pdf do boleto","description":"Nesse endpoint o usuário consegue realizar o download PDF do boleto para o ID informado no path.","tags":["Pagamento"],"produces":["application/json"],"parameters":[{"in":"path","name":"payment_id","description":"Hash identificador do boleto.","type":"string","minLength":24,"maxLength":24,"required":true}],"responses":{"200":{"description":"Em caso de sucesso, será retornado o boleto em arquivo PDF."},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X GET \\\n'https://api-homologacao.getnet.com.br/v1/payments/boleto/599ca35059028b001023b323/pdf'\n"}]}},"/v1/payments/boleto/{payment_id}/html":{"get":{"summary":"Download html do boleto","description":"Nesse endpoint o usuário consegue realizar o download html do boleto para o ID informado no path.","tags":["Pagamento"],"produces":["application/json"],"parameters":[{"in":"path","name":"payment_id","description":"Hash identificador do boleto.","type":"string","minLength":24,"maxLength":24,"required":true}],"responses":{"200":{"description":"Em caso de sucesso, será retornado o boleto em arquivo html."},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X GET \\\n'https://api-homologacao.getnet.com.br/v1/payments/boleto/599ca35059028b001023b323/html'\n"}]}},"/v1/payments/cancel/request":{"post":{"summary":"Solicita um cancelamento","description":"\n* Solicita o cancelamento de transações que foram realizadas há mais de 1 dia (D+n).","tags":["Cancelamento"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"required":true,"description":"Tipo do conteúdo application/json.","enum":["application/json"],"default":"application/json","type":"string","name":"Content-Type","in":"header"},{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"required":false,"description":"Código de identificação do e-commerce.","type":"string","name":"seller_id","format":"uuidv4","minLength":36,"maxLength":36,"in":"header"},{"required":true,"in":"body","name":"body","description":"Requisição contendo os dados para uma solicitação de cancelamento.","schema":{"$ref":"#/definitions/cancel_request"}}],"responses":{"202":{"description":"Solicitação de cancelamento aceita","schema":{"$ref":"#/definitions/cancel_request_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"409":{"description":"Conflito. Chave do cliente duplicada (cancel_custom_key).","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/payments/cancel/request \\\n-H 'authorization: Bearer 151f3061-d162-41c0-a3e7-474c49e60f57' \\\n-H 'cache-control: no-cache' \\\n-H 'content-type: application/json' \\\n-H 'seller_id: 6eb2412c-165a-41cd-b1d9-76c575d70a28' \\\n-d '{\n      \"payment_id\": \"06f256c8-1bbf-42bf-93b4-ce2041bfb87e\",\n      \"cancel_amount\": 19990,\n      \"cancel_custom_key\": \"4ec33ee18f9e45bfb73c5c30667f9006\"\n  }\n"}]},"get":{"summary":"Retorna uma solicitação de cancelamento pela chave do cliente","description":"Retorna os dados da solicitação de cancelamento pela chave gerada pelo cliente.","tags":["Cancelamento"],"produces":["application/json"],"parameters":[{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"required":false,"description":"Código de identificação do e-commerce.","type":"string","name":"seller_id","format":"uuidv4","minLength":36,"maxLength":36,"in":"header"},{"required":true,"description":"Chave gerada pelo cliente para a solicitação de cancelamento.","type":"string","name":"cancel_custom_key","maxLength":32,"in":"query"}],"responses":{"200":{"description":"Retorna os dados da solicitação de cancelamento.","schema":{"$ref":"#/definitions/cancel_query_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X GET \\ https://api-homologacao.getnet.com.br/v1/payments/cancel/request?cancel_custom_key=4ec33ee18f9e45bfb73c5c30667f9006 \\ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\ -H 'seller_id: 6eb2412c-165a-41cd-b1d9-76c575d70a28'\n"}]}},"/v1/payments/cancel/request/{cancel_request_id}":{"get":{"summary":"Retorna uma solicitação de cancelamento pelo identificador","description":"Retorna os dados da solicitação de cancelamento pelo identificador.","tags":["Cancelamento"],"produces":["application/json"],"parameters":[{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"required":false,"description":"Código de identificação do e-commerce.","type":"string","name":"seller_id","format":"uuidv4","minLength":36,"maxLength":36,"in":"header"},{"required":true,"description":"Identificador da solicitação de cancelamento.","type":"string","name":"cancel_request_id","minLength":18,"maxLength":18,"in":"path"}],"responses":{"200":{"description":"Retorna os dados da solicitação de cancelamento.","schema":{"$ref":"#/definitions/cancel_query_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X GET \\ https://api-homologacao.getnet.com.br/v1/payments/cancel/request/20171117084237501 \\ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\ -H 'seller_id: 6eb2412c-165a-41cd-b1d9-76c575d70a28'\n"}]}},"/v1/customers":{"post":{"summary":"Cadastra um novo cliente","description":"Cadastra os dados de um novo cliente","tags":["Clientes"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"required":true,"description":"Tipo do conteúdo application/json.","enum":["application/json"],"default":"application/json","type":"string","name":"Content-Type","in":"header"},{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"required":true,"description":"Código de identificação do e-commerce.","type":"string","name":"seller_id","format":"uuidv4","minLength":36,"maxLength":36,"in":"header"},{"required":false,"description":"Usuário que está realizando o cadastro. Esta informação pode ser utilizada para fins de auditoria.","type":"string","name":"username","in":"header"},{"required":true,"in":"body","name":"body","description":"Requisição contendo os dados para cadastro de um novo cliente.","schema":{"$ref":"#/definitions/customer_info"}}],"responses":{"200":{"description":"Cadastro do cliente realizado com sucesso","schema":{"$ref":"#/definitions/customer_info_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/customers \\\n-H 'authorization: Bearer 151f3061-d162-41c0-a3e7-474c49e60f57' \\\n-H 'cache-control: no-cache' \\\n-H 'content-type: application/json' \\\n-H 'seller_id: 6eb2412c-165a-41cd-b1d9-76c575d70a28' \\\n-d '{\n      \"seller_id\": \"6eb2412c-165a-41cd-b1d9-76c575d70a28\",\n      \"customer_id\": \"customer_21081826\",\n      \"first_name\": \"João\",\n      \"last_name\": \"da Silva\",\n      \"document_type\": \"CPF\",\n      \"document_number\": \"12345678912\",\n      \"birth_date\": \"1976-02-21\",\n      \"phone_number\": \"5551999887766\",\n      \"celphone_number\": \"5551999887766\",\n      \"email\": \"customer@email.com.br\",\n      \"observation\": \"O cliente tem interesse no plano x.\",\n      \"address\": {\n        \"street\": \"Av. Brasil\",\n        \"number\": \"1000\",\n        \"complement\": \"Sala 1\",\n        \"district\": \"São Geraldo\",\n        \"city\": \"Porto Alegre\",\n        \"state\": \"RS\",\n        \"country\": \"Brasil\",\n        \"postal_code\": \"90230060\"\n    }\n  }\n"}]},"get":{"summary":"Lista dos clientes","description":"Retorna uma lista dos clientes previamente cadastrados com base nos filtros escolhidos.","tags":["Clientes"],"produces":["application/json"],"parameters":[{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"required":true,"description":"Código de identificação do e-commerce.","type":"string","name":"seller_id","format":"uuidv4","minLength":36,"maxLength":36,"in":"header"},{"required":true,"description":"Número da página em que inicia a paginação.","minimum":1,"type":"number","name":"page","in":"query"},{"required":true,"description":"Limite de resultados por página.","minimum":0,"maximum":9999,"type":"number","name":"limit","in":"query"},{"required":false,"description":"Identificador do comprador.","type":"string","name":"customer_id","maxLength":100,"in":"query"},{"required":false,"description":"Número do documento do comprador.","minLength":11,"maxLength":15,"type":"string","name":"document_number","in":"query"},{"required":false,"description":"Primeiro nome do comprador.","maxLength":40,"type":"string","name":"first_name","in":"query"},{"required":false,"description":"Último nome do comprador.","maxLength":80,"type":"string","name":"last_name","in":"query"},{"required":false,"description":"Campo para realizar a ordenação.","default":"last_name","type":"string","name":"sort","in":"query"},{"required":false,"description":"Tipo de ordenação. Ascendente ou Descendente.","enum":["asc","desc"],"type":"string","name":"sort_type","in":"query"}],"responses":{"200":{"description":"Lista de clientes cadastrados.","schema":{"$ref":"#/definitions/customer_filter_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X GET \\ https://api-homologacao.getnet.com.br/v1/customers?page=1&limit=10 \\ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\ -H 'seller_id: 6eb2412c-165a-41cd-b1d9-76c575d70a28'\n"}]}},"/v1/customers/{customer_id}":{"get":{"summary":"Retorna um cliente","description":"Retorna os dados do cliente previamente cadastrado.","tags":["Clientes"],"produces":["application/json"],"parameters":[{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"required":true,"description":"Código de identificação do e-commerce.","type":"string","name":"seller_id","format":"uuidv4","minLength":36,"maxLength":36,"in":"header"},{"required":true,"description":"Identificador do comprador.","type":"string","name":"customer_id","maxLength":100,"in":"path"}],"responses":{"200":{"description":"Retorna os dados do cliente.","schema":{"$ref":"#/definitions/customer_info"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X GET \\ https://api-homologacao.getnet.com.br/v1/customers/123456 \\ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\ -H 'seller_id: 6eb2412c-165a-41cd-b1d9-76c575d70a28'\n"}]}},"/v1/plans":{"post":{"summary":"Cadastra um novo plano","description":"Cadastra um novo plano de recorrência.","consumes":["application/json"],"produces":["application/json"],"tags":["Planos"],"parameters":[{"required":true,"description":"Tipo do conteúdo application/json.","enum":["application/json"],"default":"application/json","type":"string","name":"Content-Type","in":"header"},{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"required":true,"description":"Código de identificação do e-commerce.","type":"string","name":"seller_id","format":"uuidv4","minLength":36,"maxLength":36,"in":"header"},{"required":false,"description":"Usuário que está realizando o cadastro. Esta informação pode ser utilizada para fins de auditoria.","type":"string","name":"username","in":"header"},{"required":true,"in":"body","name":"body","description":"Requisição contendo os dados para cadastro de um novo plano.","schema":{"$ref":"#/definitions/plan"}}],"responses":{"200":{"description":"Cadastro de plano realizado com sucesso","schema":{"$ref":"#/definitions/plan_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"403":{"description":"Produto recorrência não habilitado.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X POST \\\nhttps://api-homologacao.getnet.com.br/v1/plans \\\n-H 'authorization: Bearer 151f3061-d162-41c0-a3e7-474c49e60f57' \\\n-H 'cache-control: no-cache' \\\n-H 'content-type: application/json' \\\n-H 'seller_id: 6eb2412c-165a-41cd-b1d9-76c575d70a28' \\\n-d '{\n      \"seller_id\": \"6eb2412c-165a-41cd-b1d9-76c575d70a28\",\n      \"name\": \"Plano flex\",\n      \"description\": \"Plano flex\",\n      \"amount\": 19990,\n      \"currency\": \"BRL\",\n      \"payment_types\": [ \"credit_card\" ],\n      \"sales_tax\": 0,\n      \"product_type\": \"service\",\n      \"period\": {\n        \"type\": \"monthly\",\n        \"billing_cycle\": 30,\n        \"specific_cycle_in_days\": 0\n      }\n    }\n"}]},"get":{"summary":"Lista de planos","description":"Retorna uma lista de planos de recorrência cadastrados com base nos filtros escolhidos.","tags":["Planos"],"produces":["application/json"],"parameters":[{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"required":true,"description":"Código de identificação do e-commerce.","type":"string","name":"seller_id","format":"uuidv4","minLength":36,"maxLength":36,"in":"header"},{"required":true,"description":"Número da página em que inicia a paginação.","minimum":1,"type":"number","name":"page","in":"query"},{"required":true,"description":"Limite de resultados por página.","minimum":0,"maximum":9999,"type":"number","name":"limit","in":"query"},{"required":false,"description":"Identificador do plano.","type":"string","name":"plan_id","minLength":36,"maxLength":36,"format":"uuidv4","in":"query"},{"required":false,"description":"Status do plano.","default":"active","enum":["active","inactive"],"type":"string","name":"status","in":"query"},{"required":false,"description":"Nome do plano.","minLength":3,"type":"string","name":"name","in":"query"},{"required":false,"description":"Campo para realizar a ordenação.","default":"name","type":"string","name":"sort","in":"query"},{"required":false,"description":"Tipo de ordenação. Ascendente ou Descendente.","enum":["asc","desc"],"type":"string","name":"sort_type","in":"query"}],"responses":{"200":{"description":"Lista de planos cadastrados.","schema":{"$ref":"#/definitions/plan_filter_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"403":{"description":"Produto recorrência não habilitado.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X GET \\ https://api-homologacao.getnet.com.br/v1/plans?page=1&limit=10 \\ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\  -H 'seller_id: 6eb2412c-165a-41cd-b1d9-76c575d70a28'\n"}]}},"/v1/plans/{plan_id}":{"get":{"summary":"Retorna um plano","description":"Retorna um plano de recorrência pelo identificador.","tags":["Planos"],"produces":["application/json"],"parameters":[{"required":true,"description":"Authorization: Bearer *AuthString* </br> Onde *AuthString* é token de acesso obtido no endpoint de autenticação.\n","type":"string","name":"Authorization","in":"header"},{"required":true,"description":"Código de identificação do e-commerce.","type":"string","name":"seller_id","format":"uuidv4","minLength":36,"maxLength":36,"in":"header"},{"required":true,"description":"Identificador do plano.","type":"string","name":"plan_id","minLength":36,"maxLength":36,"format":"uuidv4","in":"path"}],"responses":{"200":{"description":"Retorna os dados do plano.","schema":{"$ref":"#/definitions/plan_response"}},"400":{"description":"Requisição inválida.","schema":{"$ref":"#/definitions/error"}},"401":{"description":"Autenticação inválida.","schema":{"$ref":"#/definitions/error"}},"403":{"description":"Produto recorrência não habilitado.","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Não encontrado.","schema":{"$ref":"#/definitions/error"}},"500":{"description":"Erro interno do servidor ou serviço.","schema":{"$ref":"#/definitions/error"}}},"x-code-samples":[{"lang":"cURL","source":"curl -X GET \\ https://api-homologacao.getnet.com.br/v1/plans/51995e24-b1ae-4826-8e15-2a568a87abdd \\ -H 'authorization: Bearer 72402c54-6bd3-4895-a6b4-adfded0c11dc' \\ -H 'seller_id: 6eb2412c-165a-41cd-b1d9-76c575d70a28'\n"}]},"patch":{"summary":"Atualiza um plano","description":"Atualiza um plano de recorrência pelo identificador.","tags":["Planos"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"required":true,"description":"Tipo do conteúdo application/json.","enum":["application/json"],"default":"application/jso
[...]
